<template>
  <div>
    <div class="_dp-f _jtfct-fe _alit-ct">
      <div
        class="_dp-b _cs-pt hamburger-container"
        @click="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)"
      >
        <div
          :class="{menu: !$store.state.menu.isShowing, close: $store.state.menu.isShowing}"
          class="icon"
        />
      </div>
    </div>

    <!-- Hamburger Menu -->
    <scale-transition class="_pst-asl top-right-corner" origin="top right">
      <div
        v-show="$store.state.menu.isShowing"
        class="hamburger-menu _bgcl-white _bdrd-4px box-shadow"
      >
        <div class="triangle-container _pst-asl">
          <div class="triangle-up white" />
        </div>

        <div v-if="items.length" class="_h-100pct _dp-f _jtfct-spbtw _fdrt-cl">
          <div v-for="(x, i) in items" :key="i" class="menu-item">
            <a
              v-if="x.link"
              :href="x.link"
              target="_blank"
              class="_cs-pt col _dp-f _jtfct-fst _alit-ct hover-underline-animation _pdl-24px _pd-12px _pd-24px-sm _mgt-12px"
              @click.native="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)"
            >
              <h3 class="_tal-l _cp-book _dp-f _alit-ct">
                <img :src="'/images/icons/' + x.icon" class="_pdh-4px _pst-rlt _bt-4px menu-icon" />

                <span class="_tal-l _mgl-12px">{{ x.title }}</span>
              </h3>
            </a>
            <nuxt-link
              v-else-if="x.path"
              :to="x.path"
              class="_cs-pt col _dp-f _jtfct-fst _alit-ct hover-underline-animation _pdl-24px _pd-12px _pd-24px-sm _mgt-12px"
              @click.native="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)"
            >
              <h3 class="_tal-l _cp-book _dp-f _alit-ct">
                <img :src="'/images/icons/' + x.icon" class="_pdh-4px _pst-rlt _bt-4px menu-icon" />

                <span class="_tal-l _mgl-12px">{{ x.title }}</span>
              </h3>
            </nuxt-link>
          </div>
        </div>
      </div>
    </scale-transition>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: []
  }),
  created() {
    this.items = [
      {
        title: 'Works',
        link: 'https://5lab-cdn.sgp1.cdn.digitaloceanspaces.com/works/5Lab_Credential.pdf',
        icon: 'work.svg'
      },
      // {
      //   title: 'Services',
      //   path: '/services',
      //   icon: 'service2.svg'
      // },
      {
        title: 'About',
        path: '/about',
        icon: 'about.svg'
      },
      {
        title: 'Contact',
        path: '/contact',
        icon: 'contact.svg'
      }
    ]
  }
}
</script>


<style lang="scss" scoped>
@import "assets/styles/variables";

.hamburger-menu {
  z-index: 9;
  top: 48px;

  margin: 8px 0;
  position: absolute;
  right: 0px;
  min-width: 400px;
  a {
    color: #ff2347;
    transition: all 0.3s ease-in-out;
    // border-bottom: 1px solid rgba(255, 0, 0, 0.03);
  }
  a:hover {
    color: #8c0099;
    // border-bottom: 1px solid rgba(255, 0, 0, 0);
  }
}
// .hamburger-container::before {
//   content: 'MENU';
//   font-size: 10px;
//   letter-spacing: 2px;
//   position: absolute;
//   left: -30px;
//   color: white;
// }

.triangle-container {
  top: -7px;
  right: 35px;
}
.hamburger-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  height: 60px;
  width: 60px;
}

@media (max-width: 770px) {
  .hamburger-menu {
    top: 78px;
    padding: 15px 0;
    height: auto !important;
    min-width: 95%;
    // min-height: 400px;
    left: 5px;
    right: 5px;
    margin: 10px 0 !important;
    h3 {
      font-size: 2rem;
    }
  }
  .triangle-container {
    right: 26px;
    top: -5px;
  }
  .hamburger-container {
    margin-top: 0;
    margin-right: -5px;
    display: flex !important;
    justify-content: flex-end !important;
  }
}

.icon,
.icon:before,
.icon:after,
.icon i,
.icon i:before,
.icon i:after {
  transition: all 0.1s ease;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 55, 155, 1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255, 55, 155, 1);
  box-shadow: 0px 0px 9px 0px rgba(255, 55, 155, 1);
  border-radius: 0.5rem;
}
.menu.icon {
  color: rgb(255, 255, 255);
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: currentColor;
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 38px;
    height: 3px;
    background-color: currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: currentColor;
  }
}

.hamburger-container:hover .menu.icon::before {
  width: 25px;
}
.hamburger-container:hover .menu.icon {
  width: 40px;
}
.hamburger-container:hover .menu.icon::after {
  width: 35px;
}

.close.icon {
  color: white;
  position: relative;
  left: -7px;
  top: -2px;
}
.close.icon:before {
  content: "";
  position: absolute;
  width: 45px;

  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.icon:after {
  content: "";
  position: absolute;

  width: 45px;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 770px) {
  .menu.icon {
    color: rgb(255, 89, 117);

    &::before {
      left: auto;
      right: 0px;
    }
    &::after {
      left: auto;
      right: 0px;
    }
  }
  .close.icon {
    left: -38px;
    top: -3px;
  }
}

.menu-item {
  transition: 0.3s;
  h3 {
    line-height: 2.5rem;
  }
  .hover-underline-animation::after {
    height: 1px;
    bottom: 0;
  }
}
.nuxt-link-exact-active {
  display: none !important;
}
</style>