<template>
  <div>
    <div class="_dp-f _jtfct-fe _alit-ct">
      <div
        class="_dp-b _cs-pt hamburger-container"
        @click="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)"
      >
        <div
          :class="{menu: !$store.state.menu.isShowing, close: $store.state.menu.isShowing}"
          class="icon"
        />
      </div>
    </div>
    <div class="_pst-asl _pst-stt-sm top-right-corner _w-300pct">
      <!-- Hamburger Menu -->
      <scale-transition class="_pst-asl top-right-corner" origin="top right">
        <div
          v-show="$store.state.menu.isShowing"
          class="hamburger-menu _bgcl-white _bdrd-4px box-shadow"
        >
          <div class="triangle-container _pst-asl">
            <div class="triangle-up white" />
          </div>

          <div v-if="items.length" class="_h-100pct _dp-f _jtfct-spbtw _fdrt-cl">
            <div v-for="(x, i) in items" :key="i" class="menu-item">
              <a
                v-if="x.link"
                :href="x.link"
                target="_blank"
                class="_cs-pt col _dp-f _jtfct-fst _alit-ct hover-underline-animation _pdl-24px _pd-12px _pd-24px-sm _mgt-12px"
                @click.native="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)"
              >
                <h3 class="_tal-l _cp-book _dp-f _alit-ct">
                  <img :src="'/images/icons/' + x.icon" class="_pdh-4px _pst-rlt _bt-4px menu-icon" />

                  <span class="_tal-l _mgl-12px">{{ x.title }}</span>
                </h3>
              </a>
              <nuxt-link
                v-else-if="x.path"
                :to="x.path"
                class="_cs-pt col _dp-f _jtfct-fst _alit-ct hover-underline-animation _pdl-24px _pd-12px _pd-24px-sm _mgt-12px"
                @click.native="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)"
              >
                <h3 class="_tal-l _cp-book _dp-f _alit-ct">
                  <img :src="'/images/icons/' + x.icon" class="_pdh-4px _pst-rlt _bt-4px menu-icon" />

                  <span class="_tal-l _mgl-12px">{{ x.title }}</span>
                </h3>
              </nuxt-link>
            </div>
          </div>
        </div>
      </scale-transition>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: []
  }),
  created() {
    this.items = [
      {
        title: 'Home',
        path: '/',
        icon: 'home.svg'
      },
      {
        title: 'Works',
        link: 'https://5lab-cdn.sgp1.cdn.digitaloceanspaces.com/works/5Lab_Credential.pdf',
        icon: 'work.svg'
      },
      // {
      //   title: 'Services',
      //   path: '/services',
      //   icon: 'service2.svg'
      // },
      {
        title: 'About',
        path: '/about',
        icon: 'about.svg'
      },
      {
        title: 'Contact',
        path: '/contact',
        icon: 'contact.svg'
      }
    ]
  }
}
</script>


<style lang="scss" scoped>
@import "assets/styles/variables";

.hamburger-menu {
  z-index: 9;
  top: $menu-height;
  margin: 8px 0;
  position: absolute;
  right: 0px;
  min-width: 400px;
  a {
    color: #ff2347;
    transition: all 0.3s ease-in-out;
    // border-bottom: 1px solid rgba(255, 0, 0, 0.03);
  }
  a:hover {
    color: #8c0099;
    // border-bottom: 1px solid rgba(255, 0, 0, 0);
  }
}
// .hamburger-container::before {
//   content: 'MENU';
//   font-size: 10px;
//   letter-spacing: 2px;
//   position: absolute;
//   left: -30px;
//   color: white;
// }

.triangle-container {
  top: -7px;
  right: 23px;
}
.hamburger-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  height: $menu-height;
  width: 55px;
}

@media (max-width: 770px) {
  .hamburger-menu {
    top: $menu-height;
    left: -10px;
    right: 0;
    min-width: auto;
    margin: 5px 0 !important;
    h3 {
      font-size: 1.5rem;
    }
  }
  .triangle-container {
    right: 22px;
    top: -9px;
  }
  .hamburger-container {
    margin-top: 0;
    margin-left: auto;
  }
}

.icon,
.icon:before,
.icon:after,
.icon i,
.icon i:before,
.icon i:after {
  transition: all 0.1s ease;
  border-radius: 0.5rem;
}
.menu.icon {
  color: $red;
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: currentColor;
  &::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 34px;
    height: 3px;
    background-color: currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 40px;
    height: 3px;
    background-color: currentColor;
  }
}

.hamburger-container:hover .menu.icon::before {
  width: 25px;
}
.hamburger-container:hover .menu.icon {
  width: 40px;
}
.hamburger-container:hover .menu.icon::after {
  width: 35px;
}

.close.icon {
  color: rgb(192, 51, 51);
  position: relative;
  right: 40px;
  top: -2px;
}
.close.icon:before {
  content: "";
  position: absolute;
  width: 45px;

  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.icon:after {
  content: "";
  position: absolute;

  width: 45px;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-item {
  transition: 0.3s;
  h3 {
    line-height: 2.5rem;
  }
  .hover-underline-animation::after {
    height: 1px;
    bottom: 0;
  }
}
.nuxt-link-exact-active {
  display: none !important;
}
</style>