<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="_w-100pct _dp-f _jtfct-spbtw _alit-ct">
          <h1
            v-scroll-reveal="{ delay:0,reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
            class="_ttf-upc _dp-b _mgt-48px page-title"
          >Works</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 _pdv-8px _pdr-16px _dp-f _jtfct-spbtw _alit-ct">
        <div class>
          <hr class="_mgv-24px">
        </div>
        <div :class="{ active: isActive }" class="dropdown">
          <div
            v-scroll-reveal="{delay:0,reset:true,scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
            class="dropbtn _zid--1 _cl-red _tal-r _cs-pt _dp-f _alit-ct _jtfct-fe link"
            @click="isActive = !isActive"
          >
            <span class="_fs-7 _fs-5-sm _pst-rlt _t-1px">{{ selectedType }}</span>
            <i class="fal fa-chevron-circle-down _mgl-8px _w-16px _h-16px"/>
          </div>
          <div class="dropdown-container _h-512px _pst-asl _r-12px _ovfx-hd">
            <div class="dropdown-content _tal-r">
              <a href="#" @click="filterWork('', 'All categories')">All categories</a>
              <a
                v-for=" (item,i) in _serviceData"
                :key="i"
                href="#"
                @click="filterWork(item.id, item.name)"
              >{{ item.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="works[0]" class="row">
      <div v-for="(x, i) in workFilter" :key="i" class="col-12 col-sm-6 _mgbt-32px">
        <div>
          <ProductThumb
            :title="x.acf.long_title"
            :image="x.acf.featured_image[0].image"
            :url="`works/${x.slug}`"
          />
        </div>
        <!-- <div v-if="!x.acf.featured_image">
          <ProductThumb 
            :title="x.acf.long_title"
            :url="`works/${x.slug}`"
          />
        </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-12 _pdv-128px _tal-ct">
        <div class="animate _pdbt-4px">
          <i class="fal fa-rocket fa-2x _cl-red icon"/>
        </div>
        <div class="_mgbt-8px _cl-red page-title">We are launching...</div>
        <div class>More works are on the way, Please stay tuned!</div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductThumb from "~/components/products/ProductThumb";

export default {
  components: {
    ProductThumb
  },
  data: () => ({
    isActive: false,
    selectedType: "Work Categories",
    workFilter: []
    // works: []
  }),
  async asyncData({ store }) {
    // Fetch all works
    const works = await store.dispatch("work/getAllWorks");
    const services = await store.dispatch("work/getAllServices");
    return {
      works,
      services
    };
  },
  head() {
    const siteTitle = this.$store.state.site.title;
    return {
      title: `Our Works | ${siteTitle}`,
      meta: [
        {
          hid: "og:title",
          property: "og:title",
          content: `Our Works | ${siteTitle}`
        },
        {
          hid: "og:description",
          property: "og:description",
          content:
            "Explore our porfolio and working process in cracking clients' business challenges"
        }
      ]
    };
  },
  computed: {
    _serviceData() {
      return this.services
        .map(a => {
          return {
            id: a.id,
            name: a.name,
            slug: a.slug
          };
        })
        .filter(b => b.name != `Uncategorized`)
        .filter(b => b.name != `Ongoing Support`);
    }
  },
  created() {
    this.workFilter = this.works;
  },
  methods: {
    filterWork(type, name) {
      if (type !== "") {
        this.workFilter = this.works.filter(
          a => a.categories.indexOf(type) > -1
        );
      } else {
        this.workFilter = this.works;
      }
      this.isActive = false;
      this.selectedType = name;
    }
  }
};
</script>

<style lang="scss" scoped>
.icon {
  transform: rotate(-45deg);
}

.icon2 {
  transform: rotate(180deg);
}
.animate {
  -webkit-animation: mover 2.2s infinite alternate;
  animation: mover 2.2s infinite alternate;
}

// @-webkit-keyframes mover {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(-5px);
//   }
// }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.hover-underline-animation:hover {
  color: rgb(255, 0, 85);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -6px;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(
    90deg,
    rgb(205, 96, 255) 0%,
    rgb(255, 0, 85) 100%
  );
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropbtn {
  padding: 16px 0 16px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: black !important;
}

.dropdown-container {
  min-width: 256px;

  // height: 100%;
  // position: absolute;
  // top: 0px;
}

.dropdown-content {
  position: absolute;
  opacity: 1;
  top: -100%;
  pointer-events: none;
  background-color: white;
  border-radius: 4px;
  min-width: 256px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: all 0.6s cubic-bezier(0.6, 0.2, 0.1, 1);
}

.dropdown-content a {
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px 16px 10px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
.dropdown-content a:last-child {
  border-bottom: none;
}
.dropdown-content a:hover {
  background-color: rgb(245, 245, 245);
}

.dropdown.active .dropdown-content {
  display: block;
  opacity: 1;
  pointer-events: auto;
  top: 0;
  transition: all 0.5s cubic-bezier(0.6, 0.2, 0.1, 1);
}
</style>
