<template>
  <button
    :class="{'-loading -disabled': isBtnLoading}"
    :disabled="isBtnLoading"
    type="button"
    class="bio-button -facebook _w-100pct _mgv-16px _bdcl-neutral-100"
    @click="login"
  >
    <h4>
      {{ title }}
      <i class="fab fa-facebook-square"></i>
    </h4>
  </button>
</template>

<script>
export default {
  props: {
    title: {
      default: "ล็อกอินด้วย",
      type: String
    }
  },
  data: () => ({
    isBtnLoading: false
  })
};
</script>


<style lang="scss" scoped>
.-facebook {
  background-color: rgb(59, 89, 152);
}
</style>
