<template>
  <nuxt-link
    :to="url"
  >
    <div 
      :class="bgColorClass" 
      class="_pdv-12px _w-256px button-bg"
    >
      <h4 class="_fs-6 _ttf-upc _fw-500 _lh-100pct _dp-f _jtfct-ct _alit-ct">
        <span class="_pdt-4px _pdr-12px">{{ text }}</span>
        <svg 
          width="81px" 
          height="25px" 
          viewBox="0 0 81 25" 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink">

          <defs/>
          <g 
            id="Page-1" 
            stroke="none" 
            stroke-width="1" 
            fill="none" 
            fill-rule="evenodd">
            <g 
              id="Desktop-Copy-13" 
              transform="translate(-315.000000, -715.000000)" 
              class="arrow-color">
              <g 
                id="Group" 
                transform="translate(315.000000, 715.000000)">
                <polygon 
                  id="Rectangle-5" 
                  points="0 11 79 11 79 14 0 14"/>
                <polygon 
                  id="Path-5" 
                  points="68.9572571 0 81 12.535282 69.1023525 25 67 22.6962675 76.7711406 12.4450289 67 2.27425607"/>
              </g>
            </g>
          </g>
        </svg>
      </h4>
    </div> 
  </nuxt-link>

</template>

<script>

export default {
  props: {
    text: {
      type: String,
      default: 'เฮด'
    },
    url: {
      type: String,
      default: '/'
    },
    bgColorClass: {
      type: String,
      default: '_bgcl-black'
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'assets/styles/variables';

.button-bg {
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}
.button-bg:hover {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgba(0, 0, 0, 1);
  color: rgb(0, 0, 0);
}
.button-bg .arrow-color {
  fill: rgba(255, 255, 255, 1) !important;
  transition: all 0.2s ease-in-out;
}

.button-bg:hover .arrow-color {
  fill: rgba(0, 0, 0, 1) !important;
  fill: #000000;
  fill: black;
}
</style>
