<template>
  <footer>
    <div class="_w-100pct _pst-rlt _h-256px">
      <div class="_tal-ct _f-l _w-100pct">
        <div 
          v-scroll-reveal="{ delay:0,scale: 1, origin:'bottom', distance:'80px',   duration: 1600}" 
          class="_w-100pct _cl-white _zid-1 _fs-4-md _fs-5 _pdt-64px _mgt-16px _pdbt-16px" >
          Let's smooth your business together.
        </div>
        <div 
          v-scroll-reveal="{ delay:0,scale: 1, origin:'bottom', distance:'80px',   duration: 1200}"
          class="_dp-f _jtfct-ct">
          <nuxt-link 
            v-scroll-to="'#contact'"
            to="/contact" 
            class="btnfooter btn glow _ttf-upc _cp-bold _pd-16px">
            <span class="_fs-7 _fs-5-sm _pst-rlt _t-2px _pdt-1px-sm">Get in touch</span>  
          </nuxt-link>
        </div>
      </div>
      <particlesRect 
        secondary-color="#2c0049" 
        center-color="#ff264a"
        primary-color="#ff563a"
        my-id="footerParticle"
        class="_zid-0"
      />
     
    </div>
 
    <div class="container _zid-0">
      <div class="row">
        <div class="col-12 copyright _tal-ct _pd-24px"><span>Copyright &copy;2018 5Lab Group co., Ltd</span>
        </div>
      </div>
    </div>
   
  </footer>
</template>

<script>
import particlesRect from '~/components/ParticlesRect1'
export default {
    components: {
    particlesRect
  },
  data: () => ({
    items: []
  }),
  created() {
    this.items = [
      {
        title: 'หน้าแรก',
        path: '/'
      },
      {
        title: 'สั่งซื้อ',
        path: '/'
      },
      {
        title: 'สินค้า',
        path: '/products'
      },
      {
        title: 'แพ็ครายเดือน',
        path: '/'
      },
      {
        title: 'แจ้งชำระเงิน',
        path: '/profile/orders'
      },
      {
        title: 'ติดต่อเจ้าหน้าที่',
        path: '/contact-us'
      }
    ]
  },
}
</script>

<style lang="scss" scoped>
.menu-footer {
  border-top: 1px solid #e0e1e1;
  border-bottom: 1px solid #e0e1e1;
  a {
    transition: 0.15s;
    h6 {
      color: #4a4a4a;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}

.copyright {
  span {
    font-family: 'clanpro-book', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #7a7a7a;
    letter-spacing: 0.03rem;
  }
}

.btnfooter {
  padding: 16px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 300;
}
</style>
