<template>

  <header 
    id="default-menu" 
    class="_dp-b _zid-2 _mgt-16px" >
    <div class="container">
      <div class="row _dp-f _jtfct-spbtw">
        <div class="col-4 _dp-f ">
          <nuxt-link 
            to="/"
            class="link"
          >
            <img 
              src="~/assets/images/5lab.svg" 
              alt="5Lab" 
              class="lab-text">
          </nuxt-link>
        </div>
        <div class="col-4 _dp-f _jtfct-fe _alit-ct">

          <nuxt-link 
            to="/contact"
            class="red-glow _bdrd-4px _ttf-upc _cp-bold cta">
          
            <img 
              src="~/assets/images/icons/chat.svg" 
              alt="chat"
              class="_pst-rlt _pdb-8px _bt-2px _mgr-0px _mgr-8px-sm link _dp-ilb _dp-n-sm" >
            <span class="_dp-n _dp-f-sm _alit-ct">
              <span class="_cp-book _fs-5 _opct-50 _mgr-8px">[</span> Let<span class="_ttl-l">'</span>s chat <span class="_cp-book _fs-5 _opct-50 _mgl-8px">]</span> 
            </span>
        
          </nuxt-link> 
          <menuNav2 
            id="menu-nav2"/>  
         
        </div>
      </div>
          

          
          
   
      <!-- <div 
      :class="{'sticky-nav': $store.state.menu.isUserSticky}" 
      class="_w-100pct"/> -->
  

    </div>
  </header>

</template>

<script>
import MenuNav2 from '~/components/navigations/MenuNav2'
import db from 'debounce'
export default {
  components: {
    MenuNav2
  },
  props: {
    isSticky: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    menuItems: [],
    prevY: 0,
    isNavSticky: false
  }),
  created() {
    if (process.browser) {
      if (this.isSticky) {
        window.addEventListener('scroll', db(this.handleScroll, 100))
      }
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    handleScroll() {
      // console.log(window.scrollY)
      if (this.$store.state.menu.isUserMenuShowing && window.scrollY > 200) {
        this.$store.commit('menu/SET_USER_STICKY', true)
      } else {
        this.$store.commit('menu/SET_USER_STICKY', false)
      }
      this.prevY = window.scrollY
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';




#default-menu {
  border-top: 1px solid rgba(255, 60, 80, 0.2);
  border-bottom: 1px solid rgba(255, 60, 80, 0.2);
  position:relative;
}

// #default-menu{
//   &::after{
//   content:' ';
//   height:1px;
// background: -moz-linear-gradient(left, rgba(255,50,98,0) 0%, rgba(250,130,255,0.52) 50%, rgba(255,0,76,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left, rgba(255,50,98,0) 0%,rgba(250,130,255,0.52) 50%,rgba(255,0,76,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right, rgba(255,50,98,0) 0%,rgba(250,130,255,0.52) 50%,rgba(255,0,76,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff3262', endColorstr='#00ff004c',GradientType=1 ); /* IE6-9 */
//   width:100%;
//   position:absolute;
//   -webkit-animation:linear infinite;
//   -webkit-animation-name: run;
//   -webkit-animation-duration: 4s;
//   -webkit-animation-delay: 2s;
//   }
//   &::before{
//   content:' ';
//   height:1px;
//   top:-1px;
// background: -moz-linear-gradient(left, rgba(255,50,98,0) 0%, rgba(250,130,255,0.52) 50%, rgba(255,0,76,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left, rgba(255,50,98,0) 0%,rgba(250,130,255,0.52) 50%,rgba(255,0,76,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right, rgba(255,50,98,0) 0%,rgba(250,130,255,0.52) 50%,rgba(255,0,76,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff3262', endColorstr='#00ff004c',GradientType=1 ); /* IE6-9 */
//   z-index:1;
//   width:100%;
//   position:absolute;
//   -webkit-animation:linear infinite;
//   -webkit-animation-name: run;
//   -webkit-animation-duration: 3s;
//   }
// }     
// @media (max-width: 770px) {
//   #default-menu{
//     &::after{
//     -webkit-animation-duration: 3s;
//     width:500px;
//     }
//     &::before{
//     -webkit-animation-duration: 2s;
//     width:500px;
//     }
//   }   
// }

// @-webkit-keyframes run {
//     0% { left: -150%;}
//     50%{ left : 50%;}
//     100%{ left:150%;}
// }

#menu-nav2 {
  right: -60px;
}
.lab-text {
  height: $menu-height;
}
.cta {
  height: $menu-height;
  display: flex;
  align-items: center;
  padding-top: 3.5px;
  font-size: 12px;
  color: $red;
  letter-spacing: 0.8px;
}

.sticky-nav {
  position: fixed;
  background: white;
  padding-bottom: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.5s;
  animation: menu-slide-down 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes menu-slide-down {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}
</style>
