<template> 
  <div class="spinner"/>
</template>


<script>
export default {}
</script>

<style lang="scss" scoped>
.spinner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, #ff008a 0%, #009aff 100%);
  box-shadow: 0 0 100px 0 rgba(0, 88, 255, 0.2);
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
