<template>
  <div 
    ref="projectShowcase" 
    :class="{'right-image': rightImage}" 
    class="project-showcase _pst-rlt">
    <div class="container">
      <div class="row _pst-rlt">
        <div 
          :class="{'_tal-r _tal-l-sm': rightImage}" 
          class="col-12 col-sm-5">
          <div
            v-scroll-reveal="{ opacity:0,delay: 250, scale: 1, origin:'bottom', distance:'50px', easing: 'cubic-bezier(0.5, 0.2, 0.1, 1)'}"
            :style="`background: linear-gradient(-135deg, ${primaryColor} 0%, ${secondaryColor} 100%);`"
            class="_h-60pct _h-80pct-sm _pst-asl bg-color _zid--1"
          />
          <nuxt-link :to="url">
            <img 
              v-lazy="image" 
              class="project-image image _mgv-24px box-shadow-more">
          </nuxt-link>
        </div>
        <div
          :class="{'order-sm-first _jtfct-fe': rightImage}"
          class="col-12 col-sm-7 _dp-f _alit-ct-sm _jtfct-ct-sm"
        >
          <div 
            :class="{'_tal-r': rightImage}" 
            class="_w-70pct project-text">
            <h1
              v-scroll-reveal="{delay: 100, scale: 1, distance:'50px', duration: 1000}"
              class="_ttf-upc _fs-5 _fs-4-sm"
            >{{ title }}</h1>
            <div
              v-scroll-reveal="{delay: 100, scale: 1, distance:'50px', duration: 1000}"
              class="_fs-7 _fs-6-sm _ltspc-1px _lh-150pct _w-100pct _mgt-16px _mgbt-32px"
              v-html="subtitle"
            />
            <div
              v-scroll-reveal="{delay: 100, scale: 1, distance:'24px', duration: 1000}"
              class="animate"
            >
              <ReadMoreButton
                :class="{'_f-r': rightImage}"
                :url="url"
                text="Read more"
                bg-color-class="_bgcl-black _bdrd-4px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ReadMoreButton from "~/components/buttons/ReadMoreButton";
export default {
  components: {
    ReadMoreButton
  },
  props: {
    bgColorClass: {
      type: String,
      default: "_bgcl-blue"
    },
    image: {
      type: String,
      default: "http://via.placeholder.com/350x350"
    },
    rightImage: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: "Title ..."
    },
    subtitle: {
      type: String,
      default: "Subtitle ..."
    },
    url: {
      type: String,
      default: "/"
    },
    primaryColor: {
      type: String,
      default: "#000"
    },
    secondaryColor: {
      type: String,
      default: "#000"
    }
  }
};
</script>

<style lang="scss" scoped>
.animate {
  -webkit-animation: mover 2.2s infinite alternate;
  animation: mover 2.2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.image {
  max-height: 600px;
  max-width: 100%;
  opacity: 0;
  margin-left: 50px;
  transition: all 1s cubic-bezier(0.79, 0.26, 0.09, 0.99);
  &[lazy="loaded"] {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 0;
    opacity: 1;
  }
}

.project-showcase {
  .bg-color {
    right: auto;
    left: -100%;
    width: 180%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: height 0.7s ease-in-out;
  }
  &.right-image {
    .bg-color {
      left: auto;
      right: -100%;
      width: 180%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

.project-text {
  color: #000;
}
</style>
