<template>
  <div class="row _mgv-16px _mgbt-48px _mgv-64px-sm">
    <div
      :class="{'_jtfct-fe-sm': leftHeadline}"
      class="col-12 col-sm-3 _dp-f _alit-t"
    >
      <div
        :class="{'_pdr-16px _tal-r-sm': leftHeadline}"
        class="_pdv-8px _pdv-24px-sm _dp-ilb _bgcl-white"
      >
        <span 
          class="headline-number _fs-3 _fs-1-sm _dp-ilb _cl-red _cp-bold _lh-100pct" >
          {{ headlineNo }}
          <hr
            class="_mgt-2px _mgbt-12px _dp-b _w-100pct _h-4px _h-12px-sm"
          >
        </span>

        <h3
          class="_fs-5 _fs-4-sm _dp-b _ttf-upc _cl-black _fw-700" 
          v-html="headlineText"
        />
      </div>
    </div>
    <div
      :class="{'order-sm-first _tal-l _tal-r-sm': !leftHeadline}"
      class="col-12 col-sm-9 _dp-f _alit-t"
    >
      <p
        class="_pdv-8px _pdv-24px-sm _fs-7 _fs-6-sm _lh-200pct _ltspc-1px _bgcl-white _cl-black"
        v-html="text"
      />
    </div>
    <div 
      v-if="sliderImages.length > 0" 
      class="col-12 _mgv-32px">
      <BannerSlide :slides="sliderImages"/>
    </div>
  </div>
</template>

<script>
import BannerSlide from "~/components/extras/BannerSlide";

export default {
  components: {
    BannerSlide
  },
  props: {
    leftHeadline: {
      type: Boolean,
      default: false
    },
    headlineText: {
      type: String,
      default: "Headline Text"
    },
    headlineNo: {
      type: String,
      default: "00"
    },
    text: {
      type: String,
      default: "Text .."
    },
    sliderImages: {
      type: Array,
      default: () => []
    }
  }
};
</script>

