<template>
  <div v-scroll-reveal="{delay: 0, scale: 1,  distance:'20px',   duration: 1000}">
    <nuxt-link :to="url">
      <div
        v-if="image && image.length > 1"
        :style="`background-image: url(${image})`"
        class="image box-shadow link _bgs-cv"
      />
    </nuxt-link>
    <div
      v-scroll-reveal="{delay: 200, scale: 1,  distance:'20px',   duration: 1000}"
      class="_fs-6 _fs-4-sm _cl-black _pdv-16px _lh-150pct _ltspc-1px"
      v-html="title"
    />
    <nuxt-link
      v-scroll-reveal="{delay: 400, scale: 1,  distance:'20px',   duration: 1000}"
      :to="url"
      class="_ttf-upc _fs-7 _dp-ilb _jtfct-fe btn-link _mgbt-16px hover-underline-animation"
    >
      <span>View Project</span>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Title.."
    },
    url: {
      type: String,
      default: "/"
    },
    image: {
      type: String,
      default: "http://via.placeholder.com/250x350"
    }
  }
};
</script>

<style lang="scss" scoped>
.image {
  width: 100%;
  padding-bottom: 52.222222%;
  background-position: center center;
  background-repeat: no-repeat;
  &[lazy="loading"] {
    background-size: 200px 200px;
  }
  &[lazy="loaded"] {
    background-size: cover;
  }
}
</style>


