<template>
  <div 
    v-if="text !== ''" 
    class="row _mgv-16px _mgbt-48px _mgv-64px-sm _bgcl-white">
    <p
      v-scroll-reveal
      class="col-12 _dp-f _alit-ct _jtfct-ct _pdv-8px _pdv-24px-sm _fs-7 _fs-6-sm _lh-200pct _ltspc-1px _bgcl-white _cl-black"
      v-html="text"
    />
  </div>
</template>

.<script>
export default {
  props: {
    text: {
      type: String,
      default: "Text .."
    }
  }
};
</script>


