<template>
  <div class="row _mgv-16px _mgbt-48px _mgv-64px-sm">
    <div class="col-12 col-sm-6 _zid-1">
      <img 
        v-lazy="sidebarImage" 
        class="image box-shadow" >
    </div>
    <div class="col-12 col-sm-6 _dp-f _alit-ct">
      <div class="_pdv-12px _pdv-24px-sm _bgcl-white">
        <hr 
          v-scroll-reveal
          class="_h-2px _w-64px _dp-n _dp-ilb-sm">
        <div>
          <p 
            v-scroll-reveal 
            class="_fs-7 _fs-6-sm _pdv-0px _pdv-32px-sm _lh-200pct _ltspc-1px _cl-black" 
            v-html="text"/>
        </div>
        <hr 
          v-scroll-reveal
          class="_h-2px _w-64px  _dp-n _dp-ilb-sm">
      </div>
      <div 
        v-if="sliderImages.length > 0" 
        class="col-12 _mgv-32px">
        <BannerSlide 
          :slides="sliderImages"
        />
      </div>
    </div>
  </div>
</template>

<script>
import BannerSlide from '~/components/extras/BannerSlide'

export default {
  components: {
    BannerSlide
  },
  props: {
    leftImage: {
      type: Boolean,
      default: false
    },
    sidebarImage: {
      type: String,
      default: 'http://via.placeholder.com/350x350'
    },
    text: {
      type: String,
      default: 'Loading ..'
    },
    sliderImages: {
      type: Array,
      default: () => []
      
    }
  }
}
</script>

<style lang="scss" scoped>
.image {
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-height:800px;
}
@media (max-width: 770px) {
  .image {
    // max-height: 600px;
  }
}
</style>

