<template>
  <no-ssr>
    <!-- {{ _slideImages }} -->
    <agile 
      v-if="slides.length" 
      :options="slickOptions">
      <div 
        v-for="(v, i) in slides" 
        :key="i" 
        class="slide">
        <div class="row banner-container bg-white">
          <div class="col-12">
            <div 
              v-lazy:background-image="v.image"
              class="banner-item _bgrp-nrp _bgs-cv _bgpst-ct _dp-f _alit-ct _pdl-48px _lh-200pct "
            >
              <div>
                <div 
                  class="_ttf-upc _ltspc-2px _fs-4" 
                  v-html="v.header"/>
                <a 
                  v-if="v.button"
                  :href="v.button.url" 
                  class="bio-button _ttf-upc _mgt-24px -outline _bgcl-tpr _cl-pink _bdcl-pink">
                  {{ v.button.title }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </agile>
  </no-ssr>
</template>

<script>
export default {
  props: {
    slides: {
      default: () => [],
      type: Array
    }
  },
  data() {
    return {
      videoUrl: null,
      slickOptions: {},
      left:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M16.2,21c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L9.6,12L17,4.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L6.8,12l8.8,8.7C15.7,20.9,16,21,16.2,21z"/></svg>',
      right:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M7.8,21c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l7.4-7.3L7,4.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l8.8,8.7l-8.8,8.7C8.3,20.9,8,21,7.8,21z"/></svg>'
    }
  },
  mounted() {
    if (process.browser) {
      this.slickOptions = {
        slidesToShow: 1,
        fade: true,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2000,
        pauseOnHover: true,
        pauseOnDotsHover: true,
        dots: false
      }
    }
  },
}
</script>

<style lang="scss" scoped>


.banner-item{
  width: 100%;
  padding-bottom: 52.222222%;
  background-position: center center;
  background-repeat: no-repeat;
  &[lazy='loading'] {
      background-size: 1vw;
      background-color:rgba(255,255,255,0.5);
  }
  &[lazy='loaded'] {
    background-size: cover;
    background-color:rgba(255,255,255,0);
  }
}

</style>
