<template>
  <div class="member-box _mgbt-32px _h-100pct">
    <div
      class="_h-100pct _pst-rlt" 
    >
      <img 
        v-lazy="image" 
        v-scroll-reveal="{delay: 100, distance:'50px', duration: 500}"
        class="image _mgv-24px mylazy">
      <h3
        v-scroll-reveal="{delay: 200, distance:'50px', duration: 1000}"
        class="_cp-book _cl-black _fs-5 _fs-4-sm _lh-125pct _mgbt-12px"
      >{{ title }}</h3>
      <div
        v-scroll-reveal="{origin: 'left', delay: 300, distance:'20px', duration: 1000}"
        class="_ttl-l _fs-6"
        v-html="subtitle"
      />
      <div
        v-scroll-reveal="{origin: 'left', delay: 300, distance:'20px', duration: 1000}"
        class="_ttl-l _fs-7 _mgt-16px _dp-n isActive"
        v-html="biography"
      />
    </div>
    <div class="_h-24px _pst-rlt">
      <hr
        v-scroll-reveal="{delay: 500, origin:'left', distance:'50px', duration: 1000}"
        class="_mgv-24px _pst-asl _bt-24px _w-20pct _h-4px"
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: "http://via.placeholder.com/350x350"
    },
    title: {
      type: String,
      default: "Title"
    },
    subtitle: {
      type: String,
      default: "Subtitle"
    },
    biography: {
      type: String,
      default: ""
    }
  }
};
</script>
<style lang="scss" scoped>
.image {
  transition: 0.25s;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  height: 0;
  transition: all 0.7s ease-in-out;
  &[lazy="loaded"] {
    opacity: 1;
    height: auto;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
  }
}
</style>


