<template>
  <div class="_h-80pct">
    

   
    <!-- Container -->
    <particlesRect 
      primary-color="#2c0049" 
      center-color="#ff264a"
      secondary-color="#ff563a"
      my-id="danceParticle"
      class="_zid-0"
    />
    <!-- 5Lab logo -->
    <div 
      v-if="!webGLSupported || isIE11" 
      class="_w-100pct _h-100pct _dp-f _jtfct-ct _alit-ct _pst-asl">
      <div 
        v-lazy:background="require(`~/assets/images/logo-whitered.svg`)"
        class="_h-50pct _w-50pct _h-256px-sm _w-256px-sm _bgpst-ct _bgs-ct  _bgrp-nrp _pst-asl _zid-1"/>
    </div>
    <!-- Loading -->
    <div 
      v-if="percentLoaded !== 100"
      class="_w-100pct _h-100pct _dp-f _jtfct-ct _alit-ct _pst-asl">
      <div class="_opct-50">
        <h5 
          v-if="isNumber" 
          class="_cl-white _ttl-l _tal-ct _ttf-upc">
          {{ percentLoaded }}%
        </h5>
      </div>
    </div>
   

    <div
      id="three-container" 
      ref="container"
      class="_dp-f _alit-ct _ovf-hd _jtfct-ct _h-100pct">
      <!-- ThreeJS -->
      <div>
        <div
          id="three" 
          key="1"
          ref="three" 
        />
      </div>
  
    </div>



  </div>
</template>

<script>
import particlesRect from '~/components/ParticlesRect1'
export default {
  components: {
    particlesRect
  },
  data: () => ({
    container: null,
    scene: null,
    camera: null,
    mouse: null,
    webGLSupported: null,
    isIE11: false,
    isNumber: true,
    isClicking: false,
    humanGroup: null,
    renderer: null,
    percentLoaded: 0,
    cube: null,
    canvasSize: {
      w: null,
      h: null
    },
    lights: [],
    raycaster: null,
    controls: null,
    mixers: [],
    clock: null,
    defaultCamPos: null,
    isObjSelected: false,
    intersects: [],
    itemData: null
  }),
  created() {

    if (process.browser) {
      if(navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > 0){
        this.isIE11 = true
      }
      if (!Detector.webgl) {
        this.webGLSupported = false
      }else{
        this.webGLSupported = true
      }
    }
  },
  mounted() {
    this.init()
    this.addLight()
    this.addHumanMesh()
    this.addPoint()
    this.addControls()
    // Export for debugging
  },
  methods: {
    init() {
      this.canvasSize = this.getCanvasSize()
      this.container = this.$refs.three
      this.scene = new THREE.Scene()
      this.clock = new THREE.Clock()
      this.camera = new THREE.PerspectiveCamera(
        45,
        this.canvasSize.w / this.canvasSize.h,
        1,
        1000
      )
      this.camera.position.set(165, 165, 165)
      // Init renderer
      this.renderer = new THREE.WebGLRenderer({ alpha: true })
      this.renderer.setPixelRatio(window.devicePixelRatio)
      this.renderer.setSize(this.canvasSize.w, this.canvasSize.h)
      // Controls
      this.controls = new THREE.OrbitControls(
        this.camera,
        this.renderer.domElement
      )
      this.controls.autoRotate = true
      this.controls.autoRotateSpeed = 0.5
      this.controls.enableDamping = true
      this.controls.dampingFactor = 0.35
      this.controls.enableZoom = false
      this.controls.enablePan = false
      this.controls.enableRotate = true
      this.controls.minPolarAngle = Math.PI / 2
      this.controls.maxPolarAngle = Math.PI / 2
      this.controls.update()
      // Init controls
      this.humanGroup = new THREE.Object3D()
      // Init
      this.container.appendChild(this.renderer.domElement)
    },
    addLight() {
      let fl = new THREE.PointLight(new THREE.Color(0x016dfe), 3, 500)
      let bl = new THREE.HemisphereLight(0xffffff, 0x016dfe)
      fl.position.set(0, 200, 100)
      bl.position.set(0, 200, 0)
      this.scene.add(fl)
      this.scene.add(bl)
    },
    addHumanMesh() {
      let objLoader = new THREE.FBXLoader()
      objLoader.load(
        '/obj/dance.fbx',
        (obj) => {
          obj.mixer = new THREE.AnimationMixer(obj)
          this.mixers.push(obj.mixer)
          let action = obj.mixer.clipAction(obj.animations[0])
          action.play()

          this.humanGroup.add(obj)
          this.$store.commit('SET_DONE', true)
        },
        (xhr) => {
          this.percentLoaded = parseInt(xhr.loaded / xhr.total * 100)
           if(isNaN(this.percentLoaded)){
             this.isNumber = false
           }else{
             this.isNumber = true
           }
        },
        (err) => {
          // console.log('An error happened')
        }
      )
      this.scene.add(this.humanGroup)
    },
    addPoint() {
      this.humanGroup.position.y = window.innerWidth >= 770 ? -120 : -120
       this.camera.position.x = window.innerWidth >= 770 ? 205 : 250
      this.$nextTick(() => {
        // window.scene = this.scene
        this.animate()
      })
    },
    addControls() {
      if (this.renderer) {
        window.addEventListener('resize', this.onWindowResize, false)
      }
    },
    animate() {
      requestAnimationFrame(this.animate)

      if (this.mixers.length > 0) {
        for (var i = 0; i < this.mixers.length; i++) {
          this.mixers[i].update(this.clock.getDelta())
        }
      }

      this.controls.update()
      this.render()
    },
    render() {
      this.renderer.render(this.scene, this.camera)
    },
    onWindowResize() {
      this.canvasSize = this.getCanvasSize()
      this.camera.aspect = this.canvasSize.w / this.canvasSize.h
      this.camera.updateProjectionMatrix()
      this.renderer.setSize(this.canvasSize.w, this.canvasSize.h)
    },
    getCanvasSize() {
      return {
        w: window.innerWidth,
        h: window.innerHeight
      }
    }
  }
}
</script>

<style lang="scss">
#three-container {
  canvas {
    pointer-events: none;
    padding: 0;
    margin: 0;
  }
}

</style>