<template>
  <div>
    <div id="particles-js"/>
    <div
      id="whitecurve" 
      alt="5Lab" 
      class="_dp-b"/>
</div>
</template>

<script>
export default {
  name: 'ParticlesJS',
  mounted() {
    require('particles.js')
    this.$nextTick(() => {
      this.initParticlesJS()
    })
  },
  methods: {
    initParticlesJS() {
      /* eslint-disable */
      particlesJS('particles-js', {
        particles: {
          number: {
            value: 60,
            density: {
              enable: false,
              value_area: 1000
            }
          },
          color: {
            value: '#ffffff'
          },
          shape: {
            type: 'circle',
            stroke: {
              width: 0,
              color: '#000000'
            }
          },
          opacity: {
            value: 1,
            random: true
          },
          size: {
            value: 2,
            random: true
          },
          line_linked: {
            enable: false
          },
          move: {
            enable: true,
            speed: 1,
            direction: 'top-right',
            random: false,
            straight: false,
            out_mode: 'out',
            bounce: false
          }
        },
        retina_detect: true
      })
    }
  }
}
</script>

<style scoped>
#particles-js {
  background-color: #ff0062;
    background-image: linear-gradient(
      15deg,
      #ff9100 20%,
      #ff3737 55%,
      #ff264a 60%,
      #2c0049 100%
    );
  position: absolute;
  top: 0;
  right: 0;
  width: 64vw;
  height: 24vw;
  z-index: -100;
  pointer-events: none;
}

#whitecurve {
  background-image: url('~/assets/images/whitecurve-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 110%;
  height: 25vw;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 770px) {
  #whitecurve {
    height: 110vw;
    top: 360px;
    background-size: 190vw;
    background-position: -90vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  #particles-js {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      0deg,
      #ff9100 5%,
      #ff3737 25%,
      #ff264a 50%,
      #2c0049 100%
    );
  }
}
</style>