<template>
  <div>
    We <span id="element"/>
  </div>
</template>
<script>
import Typed from 'typed.js'
export default {
  name: 'HomeTyper',
  mounted() {
    this.$nextTick(() => {
      this.initTypedJS()
    })
  },
  methods: {
    initTypedJS() {
      /* eslint-disable */
      var typed = new Typed('#element', {
        strings: [
          'design',
          'code',
          're-design',
          'code',
          'improve',
          'optimize',
          're-engineer',
          'speed up'
        ],
        typeSpeed: 60,
        loop: true,
        backDelay: 1000,
        smartBackspace: true,
        loopCount: Infinity
      })
    }
  }
}
</script>
<style>
.typed-cursor {
  animation: blinker 0.5s linear infinite;
  opacity: 0.5;
  margin-left: 1px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>

