<template>
  <div>
    <div 
      :id="myId"
      :style="`background: linear-gradient(-135deg, ${primaryColor} 0%, ${centerColor} 50%, ${secondaryColor} 100%);`"
      class="_w-100pct _ptev-n _h-100pct _pst-asl _zid--1"/>
  </div>
</template>

<script>
export default {
  name: 'ParticlesJS',
  props: {
    primaryColor: {
      type: String,
      default: '#FF3C58'
    },
    centerColor: {
      type: String,
      default: '#FF3C58'
    },
    secondaryColor: {
      type: String,
      default: '#016DFE'
    },
    myId: {
      type: String,
      default: ''
    }
  },
  mounted() {
    require('particles.js')
    this.$nextTick(() => {
      this.initParticlesJS()
    })
  },
  methods: {
    initParticlesJS() {
      /* eslint-disable */
      particlesJS(this.myId, {
        particles: {
          number: {
            value: 60,
            density: {
              enable: false,
              value_area: 1000
            }
          },
          color: {
            value: '#ffffff'
          },
          shape: {
            type: 'circle',
            stroke: {
              width: 0,
              color: '#000000'
            }
          },
          opacity: {
            value: 0.9,
            random: true
          },
          size: {
            value: 2,
            random: true
          },
          line_linked: {
            enable: false
          },
          move: {
            enable: true,
            speed: 1,
            direction: 'top-right',
            random: false,
            straight: false,
            out_mode: 'out',
            bounce: false
          }
        },
        retina_detect: true
      })
    }
  }
}
</script>

<style scoped>




</style>