<template>
  <div class="container grid-bg">
    <div class="row _mgt-16px">
      <div class="col-12">
        <div class="box-shadow-more">
          <BannerSlide
            v-if="_work.acf.featured_image && _work.acf.featured_image.length > 1"
            :slides="_work.acf.featured_image"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 _pdv-24px">
        <div
          v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'left', distance:'100px',duration: 1000}"
        >
          <ExternalLinkButton
            :url="_work.acf.project_link"
            text="Visit site"
            bg-color-class="_bgcl-black"
          />
        </div>

        <small class="_dp-b _alit-ct _pdt-32px _bgcl-white">
          <nuxt-link to="/" class="_cl-black">
            <i class="fas fa-home _mgl-2px"/> 
          </nuxt-link>
          <i class="fal fa-angle-right _mgh-8px"/> 
          <nuxt-link to="/works" class="_cl-black hover-underline-animation">
            WORKS 
          </nuxt-link>
          <i class="fal fa-angle-right _mgh-8px"/>
        </small>
        <h1
          v-scroll-reveal="{viewFactor:0.1, delay:100,reset:true,scale: 1, origin:'right', distance:'100px', duration: 1000}"
          class="_fs-4 _fs-2-sm _cl-black _fw-300 _mgv-0px _pdt-16px _pdbt-32px _bgcl-white "
        >{{ _work.title.rendered }}</h1>
        <hr
          v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
        >
        <div class="row">
          <div class="col-12 col-sm-9 _pdv-24px _bgcl-white">
            <div
              v-scroll-reveal="{ delay:10,reset:true,scale: 1, origin:'right', distance:'100px', duration: 1000}"
            >
              <span class="_fs-7 _fs-6-sm _ltspc-1px _lh-150pct">{{ _work.acf.excerpt }}</span>
            </div>
            <span
              v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'right', distance:'100px', duration: 1000}"
              class="_fs-8 _fs-7-sm _ltspc-1px _lh-150pct _dp-b _pdt-12px "
            >Year : {{ _work.acf.year }}</span>
            <span
              v-scroll-reveal="{ delay:200,reset:true,scale: 1, origin:'right', distance:'100px', duration: 1000}"
              v-if="_work.acf.agency"
              class="_fs-8 _fs-7-sm _ltspc-1px _lh-150pct _dp-b "
            >Agency : {{ _work.acf.agency }}</span>
          </div>
        </div>
      </div>
    </div>

    <div 
      v-for="(x, i) in _work.acf.description"
      :key="i">
      <ProductDetailsWithImage
        v-if="x.sidebar === `image`"
        :left-image="(i + 1) % 2 != 0"
        :sidebar-image="x.image"
        :text="x.text"
        :slider-images="x.slider.length && x.slider.map(a => {
          return {
            image: a.slider_image.url
          }
        })"
      />
      <ProductDetailsWithHeadline
        v-if="x.sidebar === `headline`"
        :left-headline="(i + 1) % 2 != 0"
        :headline-text="x.headline"
        :headline-no="x.headline_no"
        :text="x.text"
        :slider-images="x.slider.length && x.slider.map(a => {
          return {
            image: a.slider_image.url
          }
        })"
      />
      <ProductDetailsFullWidth 
        v-if="x.sidebar === `none`" 
        :text="x.text"/>
      <ProductDetailsWithVideo
        v-if="x.sidebar === `video` && x.video_url.length > 0"
        :video-url="x.video_url"
        :left-headline="(i + 1) % 2 != 0"
        :headline-text="x.headline"
        :headline-no="x.headline_no"
        :text="x.text"
        :slider-images="x.slider.length && x.slider.map(a => {
          return {
            image: a.slider_image.url
          }
        })"
      />
    </div>
    <div class="row _dp-f _jtfct-ct _pdbt-32px">
      <nuxt-link
        to="/works"
        class="hover-underline-animation _pd-32px _cl-red _bgcl-white _ttf-upc"
      >
        <span class="_cl-red _opct-20 _mgh-12px">[</span>
        <i class="fas fa-search _mgr-12px"/> <span class="_cp-bold">Explore more works </span>
        <span class="_cl-red _opct-20 _mgh-12px">]</span>
        
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import ExternalLinkButton from "~/components/buttons/ExternalLinkButton";
import BannerSlide from "~/components/extras/BannerSlide";
import ProductDetailsWithHeadline from "~/components/products/ProductDetailsWithHeadline";
import ProductDetailsWithImage from "~/components/products/ProductDetailsWithImage";
import ProductDetailsFullWidth from "~/components/products/ProductDetailsFullWidth";
import ProductDetailsWithVideo from "~/components/products/ProductDetailsWithVideo";

export default {
  components: {
    ExternalLinkButton,
    ProductDetailsWithHeadline,
    ProductDetailsWithImage,
    ProductDetailsFullWidth,
    ProductDetailsWithVideo,
    BannerSlide
  },
  async asyncData({ store, params }) {
    let work = await store.dispatch("work/getWorkSlug", {
      workSlug: params.slug
    });
    if (!work) {
      return { work: [] };
    }
    // products = products.map((_p) => _p.variations)
    return {
      work
    };
  },
  computed: {
    _work() {
      return this.work[0];
    }
  },
  head() {
    const workTitle = this.work[0].title.rendered
    const siteTitle = this.$store.state.site.title;
    const siteDescription = this.work[0].acf.excerpt;
    const img = this.work[0].acf.featured_image[0].image;
    return {
      title: `${workTitle} | ${siteTitle}` ,
      meta: [
        { hid: 'description', name: 'description', content: `${siteDescription} - ` },
        { hid: "og:title", property: "og:title", content: `${workTitle} | ${siteTitle}` },
        {
          hid: "og:description",
          property: "og:description",
          content: `${siteDescription}`
        },
        {
          hid: "og:image",
          property: "og:image",
          content: `${img}`
        }
      ]
    };
  },
};
</script>


