body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'clanpro-book';
  font-weight: 300;
  position: static;
}

a {
  color: $blue;
}

._cs-pt {
  user-select: none !important;
}

.bio-button.-loading:after {
  top: calc(50% - 0.5em + 0px) !important;
}
