$sm: 770px;
$md: 900px;
$lg: 1200px;
@import 'assets/styles/biomatic.full.min.css';
@import 'assets/styles/_grid.scss';
@import 'assets/styles/_embed.scss';
@import 'static/fa/css/all.min.css';
// เพิ่ม stylesheet ของ Vue Thailand Address เข้าไป
// @import 'modules/vue-thai-address-input/dist/vue-thai-address-input.css';
@import 'assets/styles/variables';
@import 'assets/styles/default';

// Custom Fonts
@font-face {
  font-family: 'clanpro-book';
  src: url('~/assets/fonts/clanpro-book.eot?') format('eot'), url('~/assets/fonts/clanpro-book.woff') format('woff'), url('~/assets/fonts/clanpro-book.ttf') format('truetype');
}

@font-face {
  font-family: 'clanpro-bold';
  src: url('~/assets/fonts/clanpro-bold.eot?') format('eot'), url('~/assets/fonts/clanpro-bold.woff') format('woff'), url('~/assets/fonts/clanpro-bold.ttf') format('truetype');
}

._cp-bold {
  font-family: 'clanpro-bold';
}

._cp-book {
  font-family: 'clanpro-book';
}

._ttl-l {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

html {
  font-family: 'clanpro-book', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  line-height: 1.1;
  margin: 0;
}

p {
  line-height: 1.6;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h3,
h5,
h6 {
  font-family: 'clanpro-bold';
}

h2,
h4 {
  font-family: 'clanpro-book';
}

/* Begin your default styles here */

._cl-red {
  color: $red !important;
}

._cl-blue {
  color: $blue !important;
}

._cl-green {
  color: $green !important;
}

._bgcl-light-grey {
  background-color: $light-grey !important;
}

._bgcl-white {
  background-color: #fff !important;
}

._bgcl-blue {
  background-color: $blue !important;
}

._bgcl-red {
  background-color: $red !important;
}

._bgcl-green {
  background-color: #50e3c2 !important;
}

._bgcl-gradient {
  background: linear-gradient(-135deg, #ff008a 0%, #009aff 100%);
}

.bg {
  background-color: #fff !important;
}

.page-title {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // border: 1px solid rgba(255, 255, 255, 0);
  padding: 0.4rem 1rem 0.1rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  letter-spacing: 1.46px;
}

.btn span {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -1px;
  height: 100%;
  border-radius: 0.25rem;
}

.btn span:after {
  // content: '\2192';
  content: url('../images/arrow-right.svg');
  font-size: 2rem;
  display: flex;
  align-self: center;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.6, 0.2, 0.1, 1);
  height: 100%;
  margin-left: -75px;
  margin-top: 5px;
}

.btn.glow {
  background: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  padding: 9px 15px 7px 15px;
  color: $red;
  -webkit-box-shadow: 0px 0px 31px 0px $red;
  -moz-box-shadow: 0px 0px 31px 0px $red;
  box-shadow: 0px 0px 31px 0px $red;
  letter-spacing: 2px;
  transition: all 0.1s cubic-bezier(0.6, 0.2, 0.1, 1);
  border: 1px solid transparent;
}

.btn.glow span:after {
  display: none;
}

.red-glow {
  transition: all 0.1s cubic-bezier(0.6, 0.2, 0.1, 1);
  color: $red;
}

.btn.glow:hover {
  color: rgba(255, 137, 94, 1);
  border: 1px solid rgba(255, 137, 94, 0.85);
  -webkit-box-shadow: 0px 0px 31px 0px rgba(255, 137, 94, 0.85);
  -moz-box-shadow: 0px 0px 31px 0px rgba(255, 137, 94, 0.85);
  box-shadow: 0px 0px 31px 0px rgba(255, 137, 94, 0.85);
}

.red-glow:hover {
  color: rgb(0, 174, 255) !important; // border: 1px solid rgba(0, 168, 247, 0.74);
}

.btn:hover span:after {
  opacity: 1;
  margin-left: 15px;
}

/* Begin your default styles here */

.min-height-100vh {
  min-height: calc(100vh - 100px);
}

.min-height-80vh {
  min-height: calc(80vh - 80px);
}

.min-height-20vh {
  min-height: calc(20vh - 20px);
}

.btn-link {
  border-bottom: 5px solid $blue;
  padding: 15px 0;
  transition: 0.2s all cubic-bezier(0.6, 0.2, 0.1, 1);
}

._bt-red {
  background-image: linear-gradient(-95deg, #ff744f 9%, #ff3f75 91%);
  font-size: 17px;
  padding: 0.4rem 1.25rem 0.3rem 1.25rem;
  color: #ffffff;
  letter-spacing: 1.46px;
  text-align: center;
  -webkit-box-shadow: 0 0 50px rgba(128, 128, 128, 0.1);
  -moz-box-shadow: 0 0 50px rgba(128, 128, 128, 0.1);
  box-shadow: 0 0 50px rgba(128, 128, 128, 0.1);
}

._bt-red:hover {
  background-image: linear-gradient(-95deg, #ffffff 9%, #ffffff 91%);
  color: #ff3f75;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  transition: 0.3s all cubic-bezier(0.6, 0.2, 0.1, 1);
}

.hover-underline-animation:hover {
  color: rgb(255, 0, 85);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 7px;
  bottom: -6px;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(90deg, rgb(205, 96, 255) 0%, rgb(255, 0, 85) 100%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.up-down3 {
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 3s infinite alternate;
}

.up-down2 {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.up-down1 {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

hr {
  border: none;
  box-shadow: none;
  width: 105px;
  height: 7px;
  background-image: linear-gradient(-135deg, #ff008a 0%, $red 100%);
  transition: transform 0.25s ease-out;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.grid-bg {
  background-image: url('~/assets/images/grid-bg2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.db {
  border: 1px solid red;
}

.top-right-corner {
  top: 0;
  right: 0;
}

.top-left-corner {
  top: 0;
  left: 0;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 69px -9px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 0px 69px -9px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 69px -9px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.02);
}

.box-shadow-more {
  -webkit-box-shadow: 0px 0px 69px -9px rgba(0, 0, 0, 0.3), 0 0 3px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 69px -9px rgba(0, 0, 0, 0.3), 0 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 69px -9px rgba(0, 0, 0, 0.3), 0 0 3px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-color {
  -webkit-box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0.2), -20px 0px 150px -5px rgba(82, 0, 255, 0.2);
  -moz-box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0.2), -20px 0px 150px -5px rgba(82, 0, 255, 0.2);
  box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0.2), -20px 0px 150px -5px rgba(82, 0, 255, 0.2);
}

.box-shadow-color-hover {
  -webkit-box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0), -20px 0px 150px -5px rgba(82, 0, 255, 0);
  -moz-box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0), -20px 0px 150px -5px rgba(82, 0, 255, 0);
  box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0), -20px 0px 150px -5px rgba(82, 0, 255, 0);
  transition: all 0.5s cubic-bezier(0.6, 0.2, 0.1, 1);
}

.box-shadow-color-hover:hover {
  -webkit-box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0.2), -20px 0px 150px -5px rgba(82, 0, 255, 0.2);
  -moz-box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0.2), -20px 0px 150px -5px rgba(82, 0, 255, 0.2);
  box-shadow: 10px 5px 100px -5px rgba(255, 6, 6, 0.2), -20px 0px 150px -5px rgba(82, 0, 255, 0.2);
  transition: all 0.5s cubic-bezier(0.6, 0.2, 0.1, 1);
}


.link {
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
}

.link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.triangle-up.white {
  width: 0;
  height: 0;
  border-radius: 3px;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

._w-300pct {
  width: 300%;
}

.menu-icon {
  width: 50px;
  max-height: 40px;
  padding: 5px;
  margin-right: 5px;
}

.text-color-gradient {
  font-size: 84px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-135deg, $red 0%, #ff008a 100%);
  transition: transform 0.25s ease-out;
}

/* Agile */

.agile {
  &__dots {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px !important;
    padding: 0;
    text-align: center;
    white-space: nowrap;
  }

  &__arrow {
    position: absolute;
    background: none;
    opacity: 0.5;
    bottom: -12px;
    border: none;
    cursor: pointer;

    svg {
      width: 24px;
    }

    &--prev {
      left: 0px;
    }

    &--next {
      right: 0px;
    }
  }

  &__dot {
    margin: 0 8px;

    button {
      background-color: #cacaca;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 8px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      transition-duration: 0.3s;
      width: 8px;
      padding: 0px;

      &:hover {
        background-color: #000000;
      }
    }

    &--current {
      button {
        background-color: #000000;
      }
    }
  }
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #000000;
}

.vfl-has-label {
  font-family: 'Titillium Web' !important;
  left: 0 !important;
  font-size: 0.8em;
  margin-bottom: 20px;

  div {
    margin-bottom: 5px;

    input {
      padding-left: 0;
      padding: 10px 0 8px 25px;
      width: 100%;
      border-radius: 0 !important;
      border: 0;
      border-bottom: 1px solid #ebebeb;
      transition: border 0.2s;
      margin-bottom: 0;
      margin-top: 5px;
      font-family: 'Titillium Web';
      line-height: 150%;
    }
  }
}

.vfl-label-on-input {
  top: -0.6em !important;
  font-family: 'Titillium Web' !important;
  color: $blue;
  font-size: 1em !important;
}

.vfl-label-on-focus {
  color: $blue !important;
  font-size: 0.7rem;
  font-family: 'Titillium Web' !important;
}

.vfl-label+input {
  padding-left: 0;
  padding: 10px 0 8px 25px;
  width: 100%;
  border-radius: 0 !important;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  transition: border 0.2s;
  margin-bottom: 0;
  margin-top: 5px;
  font-family: 'Titillium Web';
  line-height: 150%;
}

.vfl-label-on-focus+input {
  border-bottom: 1px solid #000000;
  color: $blue;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444444;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #444444;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #444444;
}

// SELECT
select {
  text-transform: none;
  width: 100%;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border-bottom: 1px solid #ebebeb;
  font-family: 'Titillium Web';
  margin-bottom: 0;
  margin-top: 5px;
  padding: 10px 15px 10px 25px;
  line-height: 150%;
  color: #444444;
  background: url('~/assets/images/icons/dropdown-blue.svg') no-repeat 98% 57% rgb(255, 255, 255);
}

select::-ms-expand {
  display: none;
}

input:focus,
select:focus {
  border-bottom: 1px solid $blue;
}

input:-webkit-autofill {}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $blue;
  -webkit-box-shadow: none;
  background-color: white !important;
}
