$red: #FF3C58;
$blue: #016DFE;
$purple:#8200B0;
$light-grey: #f2f2f2;
$green: #50E3C2;
$orange: #ff895e;
$menu-height: 35px;
@mixin breakpoint($point) {
  @if $point==desktop {
    @media (min-width: 70em) {
      @content ;
    }
  }
  @else if $point==laptop {
    @media (min-width: 64em) {
      @content ;
    }
  }
  @else if $point==tablet {
    @media (min-width: 50em) {
      @content ;
    }
  }
  @else if $point==phablet {
    @media (min-width: 37.5em) {
      @content ;
    }
  }
  @else if $point==mobile {
    @media (max-width: 37.5em) {
      @content ;
    }
  }
}
