<template>
  <div>
    <Header/>
    <main>
      <nuxt/>
    </main>
    <no-ssr>
      <back-to-top 
        bottom="50px" 
        right="50px">
        <div class="animate btn-top">
          <div class="btn-to-top _dp-f _jtfct-ct _alit-ct _bgcl-white">
            <i class="fal fa-arrow-up _cl-red"/>
          </div>
        </div>
      </back-to-top>
    </no-ssr>
    <Footer/>
  </div>
</template>

<script>
import Header from "~/components/layout/Header";
import Footer from "~/components/layout/Footer";
// import GoToTop from '~/components/buttons/GoToTop'

export default {
  components: {
    Header,
    Footer
    // GoToTop
  }
};
</script>

<style lang="scss" scoped>
.animate {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.btn-to-top {
  width: 45px;
  height: 45px;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 22px;
  background: white;
}

.vue-back-to-top {
  bottom: 50px !important;
  right: 16px !important;
}
</style>
