<template>
  <div class="container">
    <div class="min-height-100vh _h-100pct _pdv-128px">
      <div class="row">
        <div class="col-12 _pdv-128px _tal-ct" >
          <div class="animate _pdbt-4px">
            <i class="fal fa-rocket _cl-red icon"></i> 
          </div>
          <div class="_cl-red page-title ">We are launching...</div>
          <div class="_lh-150pct _mgv-12px">Some features are still under development. Please come back later or 
            <nuxt-link 
              to="/contact"
              class="link">
              contact us
            </nuxt-link>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>
<style lang="scss" scoped>
.icon {
  transform: rotate(-45deg);
}

.icon2 {
  transform: rotate(180deg);
}
.animate {
  -webkit-animation: mover 2.2s infinite alternate;
  animation: mover 2.2s infinite alternate;
}
</style>