<template>
  <div>
    <main>
      <nuxt/>
    </main>
    <no-ssr>
      <back-to-top bottom="50px" right="50px">
        <div class="animate btn-top">
          <div class="btn-to-top _dp-f _jtfct-ct _alit-ct _bgcl-white">
            <i class="fal fa-arrow-up _cl-red"/>
          </div>
        </div>
      </back-to-top>
    </no-ssr>
    <Footer/>
  </div>
</template>

<script>
import Footer from "~/components/layout/Footer";
export default {
  components: {
    Footer
  }
};
</script>


<style lang="scss" scoped>
.animate {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.btn-to-top {
  width: 40px;
  height: 40px;
  padding-bottom: 3px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 22px;
}

.vue-back-to-top {
  bottom: 30px !important;
  right: 16px !important;
}
</style>
