<template>
  <div class="_w-100pct">
    <div class="container">
      <div class="row _pst-rlt">
        <div class="col-12 _pst-asl">
          <div class="min-height-100vh grid-bg _w-100pct" />
        </div>
      </div>
    </div>
    <div id="about-headline" class="container">
      <div class="row">
        <div class="_pdt-24px col-8 col-sm-6 bg">
          <hr class="_mgv-24px" />
          <h1 class="_cl-black _lh-100pct _lh-125pct-sm _cp-book">
            <span class="_pdt-8px">
              <span
                v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
                class="_dp-ilb"
              >Making Technology</span>
              <span
                v-scroll-reveal="{ delay:200,reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
                class="_dp-ilb"
              >More Human</span>
            </span>
          </h1>
          <h3 class="_ttf-upc _lh-150pct _mgt-8px _mgt-12px-sm _cl-black">
            <span
              v-scroll-reveal="{ delay:300,reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
              class="_pdt-8px"
            >since 2008</span>
          </h3>
          <hr class="_mgv-24px" />
          <div
            v-scroll-to="'#about'"
            class="link _dp-f _hv _mgt-0px _mgt-32px-sm _pdt-4px _pdv-12px-sm _jtfct-fst container _zid-2"
          >
            <img id="downarrow" src="~/assets/images/down.svg" class="_mgv-12px" />
          </div>
        </div>
        <div class="col-12 col-sm-6 dance-col">
          <dance
            v-scroll-reveal="{reset:true,scale: 0.01, origin:'bottom', distance:'0px', duration: 1000}"
            id="dance-container"
            class="_pst-asl"
          />
        </div>
      </div>
    </div>
    <div class="container _dp-f _jtfct-fe">
      <div
        id="color-rect"
        class="_h-100pct _w-50pct _pdv-0px _pdv-128px-sm _w-70pct-sm min-height-20vh _pst-rlt"
      >
        <hr class="_pdv-48px _pdv-64px-sm _h-100pct _w-100pct _pst-asl _bt-0px" />
      </div>
      <div class="_pst-rlt">
        <img
          id="circle-dotted"
          src="~/assets/images/circle-dotted.svg"
          class="_mgv-12px _pst-asl _r-0px _t-0px _opct-70"
        />

        <img
          id="circle-colored"
          src="~/assets/images/circle-colored.svg"
          class="_pst-asl _r-128px _r-128px-sm _pdr-24px _bt-48px _t-50pct-sm _opct-70 _w-128px _w-256px-sm"
        />
        <img
          id="circle-colored-blue"
          src="~/assets/images/circle-colored-blue.svg"
          class="_pst-asl _r-24px _bt-128px _bt-512px-sm _pdb-24px _opct-70 _w-48px _w-128px-sm"
        />
      </div>
    </div>
    <section id="about" class="_dp-f _pdv-48px">
      <div class="container _dp-f _jtfct-fs">
        <div class="_w-100 _w-50pct-sm _tal-l">
          <h4
            v-scroll-reveal="{reset:true,scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
            class="_cl-red _dp-ilb _bgcl-white _pdv-2px"
          >About us</h4>
          <h5
            v-scroll-reveal="{reset:true,scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
            class="_mgt-12px _cp-book _lh-150pct _bgcl-white _pdv-2px"
          >5Lab was founded by Nithi Prasanpanich, Patcharin Tanchaiekkul and Apon Palanuwech. We are a team of Creative Technologists, UX/UI Designer, Software Engineer, and Marketer.</h5>
          <p
            v-scroll-reveal="{reset:true,scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
            class="_mgt-12px _bgcl-white _pdv-2px"
          >With experience in design and programming from New York City and tech startup in Bangkok, we are here to help whether you are aiming to increase leads, create brand awareness, sell your products on the web, or develop your products and services from scratch.</p>
        </div>
        <div />
      </div>
    </section>
    <section id="team" class="_dp-f _pdt-48px">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 _tal-l">
            <h1
              v-scroll-reveal="{reset:true,scale: 1, distance:'100px', duration: 1000}"
              class="_ttf-upc _dp-b _mgt-48px page-title"
            >Our Team</h1>
            <hr
              v-scroll-reveal="{reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
              class="_mgv-24px"
            />
          </div>
        </div>
        <div class="row _pdbt-48px">
          <div v-for="(m, i) in members.slice(0,3)" :key="i" class="col-6 col-sm-4">
            <ThumbnailWithTitle
              v-scroll-reveal="{delay: 100*i, distance:'50px', duration: 500}"
              :image="m.image"
              :title="m.name"
              :subtitle="m.position"
              :delay="i"
              :biography="m.biography"
            />
          </div>
          <div v-for="(m, i) in members.slice(3,members.length)" :key="i" class="col-6 col-sm-3">
            <ThumbnailWithTitle
              v-scroll-reveal="{delay: 100*i, distance:'50px', duration: 500}"
              :image="m.image"
              :title="m.name"
              :subtitle="m.position"
              :delay="i"
              :biography="m.biography"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 _pdbt-64px _pdt-48px _tal-ct">
            <div class="animate _pdbt-24px">
              <i class="fal fa-expand fa-2x _cl-red icon" />
            </div>
            <div class="_cl-red _mgbt-8px page-title">We are expanding...</div>
            <div class>
              Join our team.
              <nuxt-link class="red-glow _fw-600" to="/careers">Please see our open positions.</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>


<script>
import Dance from "~/components/Dance";
import ThumbnailWithTitle from "~/components/contents/ThumbnailWithTitle";
export default {
  head() {
    const siteTitle = this.$store.state.site.title;
    return {
      title: `About us | ${siteTitle}`,
      meta: [
        {
          hid: "og:title",
          property: "og:title",
          content: `About us | ${siteTitle}`
        },
        {
          hid: "og:description",
          property: "og:description",
          content:
            "5Lab was founded by Nithi Prasanpanich, Apon Palanuwech, and Patcharin Tanchaiekkul. We are a team of Creative Technologists, UX/UI Designer, Software Engineer, and Marketer."
        }
      ]
    };
  },
  components: {
    Dance,
    ThumbnailWithTitle
  },
  data: () => ({
    members: [
      {
        name: "Nithi Prasanpanich",
        image: require(`~/assets/images/members/nithi.jpg`),
        position: "Chief Design Officer",
        delay: "100",
        biography:
          "A visual designer by training, a creative coder by heart | Apon has over 10 years of experience working as designer and developer in Asia and the U.S. He co-founded Fastwork, one of the fastest growing startups in Thailand before joining 5Lab as Chief Technology Officer. He holds a Master of Fine Arts in Design and Technology from Parsons, The New School, New York City."
      },
      {
        name: "Apon Palanuwech",
        image: require(`~/assets/images/members/apon.jpg`),
        position: "Chief Technology Officer",
        delay: "200",
        biography:
          "A visual designer by training, a creative coder by heart | Apon has over 10 years of experience working as designer and developer in Asia and the U.S. He co-founded Fastwork, one of the fastest growing startups in Thailand before joining 5Lab as Chief Technology Officer. He holds a Master of Fine Arts in Design and Technology from Parsons, The New School, New York City."
      },
      {
        name: "Patcharin Tanchaiekkul",
        image: require(`~/assets/images/members/patcharin.jpg`),
        position: "Chief Marketing Officer",
        delay: "100",
        biography:
          "A visual designer by training, a creative coder by heart | Apon has over 10 years of experience working as designer and developer in Asia and the U.S. He co-founded Fastwork, one of the fastest growing startups in Thailand before joining 5Lab as Chief Technology Officer. He holds a Master of Fine Arts in Design and Technology from Parsons, The New School, New York City."
      },
      {
          name: "Phenphat Charoenpanich",
          image: require(`~/assets/images/members/phenphat.jpg`),
          position: "Product Designer / Project Manager",
          delay: "200"
      },
      {
        name: "Ramida Juengpaisal",
        image: require(`~/assets/images/members/ramida.jpg`),
        position: "Product Designer / Front-end Developer",
        delay: "200"
      },
      {
        name: "Taychin Tantineeranart",
        image: require(`~/assets/images/members/taychin.jpg`),
        position: "Developer / Product Designer",
        delay: "100"
      },  
      {
        name: "Dolporn Volyarngosol",
        image: require(`~/assets/images/members/dolporn.jpg`),
        position: "Project Manager",
        delay: "200"
      }
    ]
  })
};
</script>
<style lang="scss" scoped>
@import "assets/styles/variables";

.link {
  z-index: 3;
}
#dance-container {
  z-index: 1;
  width: 500px !important;
  height: 500px !important;
  top: 5vh;
  border-radius: 100% !important;
  overflow: hidden;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 114px 0px rgba(255, 94, 94, 0.5);
  -moz-box-shadow: 0px 0px 114px 0px rgba(255, 94, 94, 0.5);
  box-shadow: 0px 0px 114px 0px rgba(255, 94, 94, 0.5);
}
#color-rect {
  pointer-events: none;
  hr {
    background-image: linear-gradient(-135deg, $blue 0%, $red 100%);
  }
}

.grid-bg {
  z-index: -5;
  // top: $menu-height;
  // margin-top: 30px;
  overflow: auto;
}

.white-bg::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -3;
}

.office1 {
  background-image: url("~/assets/images/office/office01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 770px) {
  #about-headline {
    h1 {
      font-size: 2rem;
      text-transform: none !important;
      line-height: 130% !important;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
  #dance-container {
    left: 25vw;
    top: -25vw;
    width: 90vw !important;
    height: 90vw !important;
  }
  .dance-col {
    height: 60vw;
  }
}

.animate {
  -webkit-animation: expand 2.2s infinite alternate;
  animation: expand 2.2s infinite alternate;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
}
</style>
