<template>
  <div class="container _mgv-64px">
    <h4>2017-2018 WORKS</h4>
    <div class="_mgv-12px">
      MIS - Bangkok Hospital (live)<br>
      <a 
        href="https://mistotalbody.bangkokhospital.com/" 
        target="_blank" 
        class="_dp-ilb _pdv-4px hover-underline-animation">https://mistotalbody.bangkokhospital.com/
      </a>
    </div>
    <div class="_mgv-12px">
      Talaad Thai Official Website (live)<br>
      <a 
        href="https://talaadthai.com" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">https://talaadthai.com
      </a>
    </div>
    <div class="_mgv-12px">

      Amway My Photo Web Application (live)<br>

      <a 
        href="http://myphoto.nutrilite.co.th" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://myphoto.nutrilite.co.th
      </a>
    </div>
    <div class="_mgv-12px">
      Thai Cookery School (live)<br>

      <a 
        href="https://www.thaicookeryschool.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">https://www.thaicookeryschool.com/
      </a>
    </div>
    <div class="_mgv-12px">
      Bangkok Hospital Official Website (Developing)
      <br>
      <a 
        href="http://bdms1dev.prod.acquia-sites.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://bdms1dev.prod.acquia-sites.com/
      </a>
    </div>
    <div class="_mgv-12px">
      Maple Life E-Commerce (Developing)<br>
      <a 
        href="https://maplelife.co.th/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">https://maplelife.co.th/

      </a>
    </div>

    

    <div class="_mgv-24px">........................</div>

    <h4>Old</h4>
    <div class="_mgv-12px">
      Chambery Condo<br>

      <a 
        href="http://chamberycondo.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://chamberycondo.com/

      </a>
    </div>
    <div class="_mgv-12px">
      
      Qi Restaurant NYC<br>

      <a 
        href="http://qirestaurant.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://qirestaurant.com/

      </a>
    </div>
    <div class="_mgv-12px">
      Shootdee<br>

      <a 
        href="http://www.shootdee.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://www.shootdee.com/

      </a>
    </div>
    <div class="_mgv-12px">
      Redline Auto<br>

      <a 
        href="http://www.redlineautotuning.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://www.redlineautotuning.com/

      </a>
    </div>
    <div class="_mgv-12px">
      It's A Matter of Roses<br>

      <a 
        href="http://itsamatterofrose.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://itsamatterofrose.com/

      </a>
    </div>
    <div class="_mgv-12px">
      Grand Beauty Clinic<br>

      <a 
        href="http://grandbeautythailand.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://grandbeautythailand.com/

      </a>
    </div>
    <div class="_mgv-12px">
      NRich<br>

      <a 
        href="http://nrichbrand.com/" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://nrichbrand.com/

      </a>
    </div>
    <div class="_mgv-12px">
      Lolane - Headup<br>

      <a 
        href="http://lolaneheadup.com/
" 
        target="_blank" 
        class="_dp-ilb  _pdv-4px hover-underline-animation">http://lolaneheadup.com/

      </a>
    </div>


  </div>
</template>
