<template>
  <div class="container _mgv-32px _pdbt-32px">
    <a href="/">
      <img src="~/assets/images/5lab.svg" alt="5Lab" class="_dp-b" >
    </a>
    <small class="_dp-b _ttf-cptl _mgbt-48px _ttf-upc _mgt-8px _ltspc-2px _cl-red">careers</small>
    <h4 class="_cl-red">{{ selectedBoard.name }}</h4>
    <div style="100%" class="list-frame _mgt-12px">
      <ul class="list _alit-str _w-100pct">
        <li
          v-scroll-reveal="{ delay:i*20,origin:'left', distance:'30px'}"
          v-for="(v, i) in selectedBoard.cards"
          :key="i"
          class="_pd0-2px _w-100pct"
        >
          <div class="card _pd-16px _w-100pct _pst-rlt">
            <h5 v-if="v.name" class="_cl-black _mgbt-4px">{{ v.name }}</h5>
            <p
              v-if="v.desc !== '' && v.desc"
              class="_mgt-12px _cl-black _w-100pct _mgbt-8px"
            >{{ v.desc }}</p>
            <span v-if="v.labels" class="_mgt-12px _mgr-12px">
              <span
                v-for="(l, i) in v.labels"
                :style="`background: ${l.color}`"
                :key="i"
                class="_cl-white _fw-600 _pdh-12px _pd-4px _pdt-8px _lh-100pct _fs-8 _bdw-0px _ttf-upc _dp-ilb _lh-150pct _bdrd-4px"
              >{{ l.name }}</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="_mgv-48px">
      <h4>APPLY HERE</h4>
      <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/f28e38a0-e308-456b-ba59-1d65fb5a4866" class="_mgt-24px"/>
      <div class="_mgv-8px _tal-ct _w-100pct _fs-8">Please type the position title that you want to apply here</div>
    </div>-->
  </div>
</template>

<script>
export default {
  layout: "homelayout",
  async asyncData({ $axios, route, params, query }) {
    const board = await $axios.$get(
      `https://api.trello.com/1/boards/3snUuQnz/lists?cards=all&card_fields=all&filter=all&fields=all&key=c3c38410d9e19e15b4f32fec33c48929&token=a892fcf60136928783c2ecdbe3d87f4649d20c14b7c62783779b2d80abe8ae01`
    );
    let selectedBoard = await "";
    selectedBoard = await board[7];
    // selectedBoard.password = await route.query.password;
    return { selectedBoard };
  },
  head() {
    const siteTitle = this.$store.state.site.title;
    const siteDescription = this.$store.state.site.description;
    return {
      title: `Open Positions | ${siteTitle}`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: `${siteDescription}`
        },
        { hid: "og:title", property: "og:title", content: `${siteTitle}` },
        {
          hid: "og:description",
          property: "og:description",
          content: `${siteDescription}`
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
@import "assets/styles/variables";
@import url("https://fonts.googleapis.com/css?family=Sarabun:300,700&subset=thai");
.container {
  max-width: 800px;
}
h5 {
  font-family: "Sarabun", sans-serif;
  font-weight: 700 !important;
  line-height: 150%;
  font-size: 20px;
  @media (max-width: 800px) {
    font-size: 16px;
  }
}
p {
  font-size: 16px;
  @media (max-width: 800px) {
    font-size: 16px;
  }
  font-family: "Sarabun", sans-serif;
  font-weight: 500 !important;
}
.list-frame {
  border: 3px solid $red;
  border-radius: 10px;
}
.list {
  line-height: 150%;
  letter-spacing: 0.05em;
  & .card {
    border-bottom: 1px solid rgba($red, 0.3);
  }
  & :last-child {
    & .card {
      border: none !important;
    }
  }
}

iframe {
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  width: 100%;
}
</style>