<template>
  <div class="min-height-100vh container grid-bg">
    <div>
      <div class="row">
        <div class="col-12 col-6-sm">
          <div class="bg _dp-ilb">
            <h1
              v-scroll-reveal="{ delay:100,reset:true, origin:'left', distance:'30px', duration: 1000}"
              id="contact"
              class="_ttf-upc _dp-b page-title _pdt-48px"
            >Contact us</h1>
            <hr
              v-scroll-reveal="{ delay:100,reset:true, origin:'right', distance:'25px', duration: 1000}"
              class="_mgv-24px"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 _pdbt-24px">
          <div class="bg">
            <h4
              v-scroll-reveal="{ delay:0,reset:true, origin:'bottom', distance:'40px', duration: 1000}"
              class="_ttl-l _mgbt-8px _cl-red"
            >Let's get started</h4>
            <p
              v-scroll-reveal="{ delay:100,reset:true, origin:'bottom', distance:'40px', duration: 1000}"
              class="_ttl-l _fs-7 _mgbt-24px"
            >
              <span class="_dp-ilb">Please describe your needs.</span>
              <span class="_dp-ilb">We’ll get back to you within 24 hours.</span>
            </p>
            <contactForm />
          </div>
        </div>
        <div class="col-sm-1" />
        <div class="col-12 col-sm-4 bg">
          <hr class="_mgv-24px _w-10pct" >

          <div>
            <div
              v-scroll-reveal="{viewFactor:0.1, delay:0,reset:true, origin:'left', distance:'30px', duration: 1000}"
              class="address _ltspc-1px _lh-150pct _mgbt-12px _ttl-l"
            >
              <span
                class="bg _cl-red _dp-b _fs-7 _fw-700 _mgbt-12px _cp-bold _ttf-upc"
              >5Lab Group co.,ltd</span>
              <a
                href="https://goo.gl/maps/gEHPseegjT4LqnmS8"
                target="_blank"
                class="_dp-b _cp-book _fs-7 link _cl-dark"
              >
                <span class="bg _dp-ilb">19th Floor, Sathorn Nakorn Tower,</span>
                <span class="bg _dp-ilb">
                  100 N Sathon Rd
                  Silom,
                </span>
                <span class="bg _dp-ilb">Bang Rak, Bangkok 10500</span>
              </a>
              <span
                v-scroll-reveal="{viewFactor:0.1, delay:10,reset:true, origin:'left', distance:'20px', duration: 1000}"
                class="bg _fs-6 _dp-b _mgt-24px _mgv-16px"
              >
                <a href="tel:+66924942545" class="_cl-dark _dp-f _alit-ct link">
                  <i class="fas fa-mobile-android-alt _fs-4 _w-48px _pdr-12px _tal-ct" />

                  <span>092 494 2545</span>
                </a>
              </span>
              <span
                v-scroll-reveal="{viewFactor:0.1, delay:10,reset:true, origin:'left', distance:'20px', duration: 1000}"
                class="bg _fs-6 _dp-b _mgv-16px"
              >
                <a href="tel:+6621099597" class="_cl-dark _dp-f _alit-ct link">
                  <i class="fas fa-phone-office _fs-4 _w-48px _pdr-12px _tal-ct" />
                  <span>02 109 9597</span>
                </a>
              </span>
              <span
                v-scroll-reveal="{viewFactor:0.1, delay:10,reset:true, origin:'left', distance:'20px', duration: 1000}"
                class="bg _fs-6 _dp-b _mgv-16px _ttf-upc"
              >
                <a href="mailto:Hello@5Lab.co" class="_cl-dark _dp-f _alit-ct link">
                  <i class="fas fa-envelope _fs-4 _w-48px _pdr-12px _tal-ct" />
                  <span>Hello@5Lab.co</span>
                </a>
              </span>
              <span
                v-scroll-reveal="{viewFactor:0.1, delay:10,reset:true, origin:'left', distance:'20px', duration: 1000}"
                class="bg _fs-6 _dp-b _mgv-16px _ttf-upc"
              >
                <a
                  href="http://m.me/5LabGroup"
                  target="_blank"
                  class="_dp-f _alit-ct _cl-dark link"
                >
                  <i class="fab fa-facebook-messenger _fs-3 _w-48px _pdr-12px _tal-ct" />
                  <span>FB Messenger</span>
                </a>
              </span>
            </div>
          </div>
          <hr class="_mgv-24px _w-10pct" >
        </div>
      </div>
      <div
        v-scroll-reveal="{ delay:0,reset:true, origin:'bottom', distance:'20px', easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)' , opacity: 1, duration: 1000}"
        class="row _mgt-12px _mgbt-0px _mgv-48px-sm"
      >
        <a
          v-lazy:background="require(`~/assets/images/5lab-map.png`)"
          href="https://goo.gl/maps/gEHPseegjT4LqnmS8"
          target="_blank"
          class="col-12 _h-256px _h-512px-sm _bgpst-ct _bgs-cv color-animation"
        />
      </div>
    </div>
  </div>
</template>
<script>
import contactForm from "~/components/forms/ContactUs";
export default {
  components: {
    contactForm
  },
  data: () => ({
    socialMedias: []
  }),
  head() {
    const siteTitle = this.$store.state.site.title;
    return {
      title: `Contact us | ${siteTitle}`,
      meta: [
        {
          hid: "og:title",
          property: "og:title",
          content: `Contact us | ${siteTitle}`
        },
        {
          hid: "og:description",
          property: "og:description",
          content:
            "Let's smooth your business together. Contact us to start your project."
        }
      ]
    };
  },
  created() {
    this.socialMedias = [
      {
        icon: "fab fa-facebook-messenger",
        path: "/"
      },

      {
        icon: "fa-envelope",
        path: "mailto:Hello@5Lab.co"
      },
      {
        icon: "fa-phone",
        path: "tel:+6620263470"
      }
    ];
  }
};
</script>

<style lang="scss" scoped>
#services {
  .hover-underline-animation::after {
    height: 1px;
    background-image: none;
    background-color: grey;
  }
  h1 {
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;
  }
  li {
    font-size: 50px;
    color: #000000;
    letter-spacing: 0;
    line-height: 65px;
    padding: 10px 0;
  }
}

.color-animation[lazy="loaded"] {
  animation: colorchange 2s infinite; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 2s infinite; /* Chrome and Safari */
}

@keyframes colorchange {
  0% {
    background-color: #ff264a;
  }
  10% {
    background-color: #2c0049;
  }
  20% {
    background-color: #ff5930;
  }
  30% {
    background-color: #5547a0;
  }
  40% {
    background-color: #ff563a;
  }
  50% {
    background-color: #7700ff;
  }
  60% {
    background-color: #ff0000;
  }
  70% {
    background-color: #b700ff;
  }
  80% {
    background-color: #ff2680;
  }
  90% {
    background-color: #6f00ff;
  }
  100% {
    background-color: #ff264a;
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background-color: #ff264a;
  }
  10% {
    background-color: #2c0049;
  }
  20% {
    background-color: #ff5930;
  }
  30% {
    background-color: #5547a0;
  }
  40% {
    background-color: #ff563a;
  }
  50% {
    background-color: #7700ff;
  }
  60% {
    background-color: #ff0000;
  }
  70% {
    background-color: #b700ff;
  }
  80% {
    background-color: #ff2680;
  }
  90% {
    background-color: #6f00ff;
  }
  100% {
    background-color: #ff264a;
  }
}

@media (max-width: 770px) {
  #services {
    h1 {
      font-size: 36px;
      color: #000000;
      letter-spacing: 0;
    }
    li {
      font-size: 28px;
      color: #000000;
      letter-spacing: 0;
      line-height: 35px;
    }
  }
}
</style>