<template>
  <div class="_w-100pct">
    <HomeParticle />
    <header
      id="welcome"
      class="_dp-f _fdrt-cl _jtfct-spbtw _mgb-24px _mgt-12px _mgt-48px-sm min-height-100vh"
    >
      <div class="_dp-n _dp-b-sm" />
      <div>
        <div id="home-logo" class="container _dp-f _alit-ct _jtfct-spbtw">
          <div
            v-scroll-reveal="{delay: 10, scale: 1, origin:'left', distance:'50px', duration: 1000}"
            class="logo"
          >
            <img id="flash" src="~/assets/images/flash.svg" class="_dp-b _mgl-4px _mgbt-12px" />
            <img src="~/assets/images/5lab.svg" alt="5Lab" class="_dp-b" />
          </div>
          <div id="home-menu" class="_dp-f _alit-ct _pst-stt _pst-asl-sm top-right-corner">
            <div class="_dp-f _alit-ct _jtfct-fe">
              <!-- <nuxt-link
                to="/works"
                class="text-item _fs-7 hover-underline-animation _cl-white _ttf-upc _cp-book _mgr-24px _dp-n _dp-ilb-md _t-1px"
              >
                <span>Works</span>
              </nuxt-link>-->
              <!-- <nuxt-link
                to="/services"
                class="text-item _fs-7 hover-underline-animation _cl-white _ttf-upc _cp-book _mgr-24px _dp-n _dp-ilb-md _t-1px"
              >
                <span>Services</span>
              </nuxt-link>-->
              <nuxt-link
                to="/about"
                class="text-item _fs-7 hover-underline-animation _cl-white _ttf-upc _cp-book _mgr-24px _dp-n _dp-ilb-md _t-1px"
              >
                <span>About</span>
              </nuxt-link>
              <a
                href="https://5lab-cdn.sgp1.cdn.digitaloceanspaces.com/works/5Lab_Credential.pdf"
                target="_blank"
                class="text-item _fs-7 hover-underline-animation _cl-white _ttf-upc _cp-book _mgr-24px _dp-n _dp-ilb-md _t-1px"
              >
                <span>Works</span>
              </a>
              <nuxt-link
                to="/contact"
                class="btn glow _ttf-upc _cp-bold _mgr-24px _mgr-8px-md _dp-n _dp-ilb-sm"
              >
                <span>Let's chat</span>
              </nuxt-link>
            </div>
            <MenuNav class="_dp-ilb _dp-n-md" />
          </div>
        </div>

        <h1 class="_cl-red">
          <div
            class="_mgt-48px _mgt-64px-sm _mgt-8px _mgbt-8px _fs-4 container _cl-red _lh-100pct _cp-book"
          >
            <HomeTyper />
          </div>

          <div
            v-scroll-reveal="{delay: 100, scale: 1, origin:'left', distance:'100px', duration: 1000}"
            class="_lh-110pct _lh-100pct-sm container tagline _cp-bol _mgbt-8px"
          >
            <span class="_dp-b _dp-il-sm">
              Web
              <span class="_ttl-l _pst-rlt _bt-1px and">&</span>
            </span>
            <span class="_dp-b _dp-il-sm">Mobile</span>
            <span class="_dp-b _dp-il-sm">Experience</span>
          </div>
        </h1>
        <h2
          v-scroll-reveal="{delay: 200, scale: 1, origin:'right', distance:'100px', duration: 1000}"
          class="_fs-4 _cl-red _mgbt-12px _mgbt-48px-sm container"
        >to smooth your business.</h2>
        <div class="container">
          <a
            v-scroll-reveal="{delay: 100, scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
            href="https://5lab-cdn.sgp1.cdn.digitaloceanspaces.com/works/5Lab_Credential.pdf"
            target="_blank"
            class="btn _ttf-upc _bt-red _fs-8 _fs-6-sm box-shadow-color-hover"
          >
            <span>Download credential</span>
          </a>
        </div>
      </div>
      <div
        v-scroll-to="'#intro'"
        v-scroll-reveal="{origin:'bottom', scale:1,distance:'200px',delay: 500, duration: 1000}"
        class="link _dp-f _hv _mgt-64px _pdt-24px _jtfct-fe _jtfct-fst-sm container"
      >
        <img src="~/assets/images/down.svg" class="_mgv-12px downarrow" />
      </div>
    </header>
    <section
      v-scroll-reveal="{reset:true,delay: 0, scale: 1, distance:'0px', duration: 1000, viewFactor:0.4}"
      id="intro"
      class="container min-height-80vh grid-bg"
    >
      <div class="row _dp-f _jtfct-ct">
        <div class="col-6 col-sm-6 _pdt-24px _dp-f _alit-ct _tal-l _tal-r-sm">
          <div class="bg _pdv-48px">
            <p
              v-scroll-reveal="{viewFactor:0.6,delay: 100, scale: 1, distance:'100px', duration: 1000}"
            >
              5LAB is a web design
              <span class="_ttl-l">&</span> creative technology company in Bangkok. We exist to design a smooth user experience
              <span
                class="_ttl-l"
              >&</span> develop innovative solutions for business in Asia.
            </p>

            <nuxt-link
              v-scroll-reveal="{viewFactor:0.6,delay: 100, scale: 1, distance:'100px', duration: 1000}"
              to="/about"
              class="_dp-ilb _jtfct-fe btn-link _mgv-24px hover-underline-animation"
            >ABOUT US</nuxt-link>
            <div
              v-scroll-to="'#partners'"
              v-scroll-reveal="{viewFactor:0.6,delay: 100, scale: 1, distance:'100px', duration: 1000}"
              class="link _hv _pdt-24px"
            >
              <img
                id="svg-animation-image"
                src="~/assets/images/down.svg"
                class="_mgv-12px _w-48px _h-24px downarrow"
              />
            </div>
            <div class="_w-100pct _dp-f _jtfct-fe" />
          </div>
        </div>
        <div class="col-6 col-sm-4 _pdh-0px _pdh-12px-sm _tal-l _pst-rlt">
          <div class="graphic">
            <img
              v-scroll-reveal="{delay: 100, scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
              id
              src="~/assets/images/web02-02.svg"
              class="_mgv-12px _zid-1 _w-100pct"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- <div v-if="works.length" id="project-showcase" class="project-showcase">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3
              v-scroll-reveal="{viewFactor:0.9,delay: 0, scale: 1, origin:'left', distance:'200px', duration: 1000}"
              class="_ttf-upc _dp-b _mgt-48px page-title"
            >Case studies</h3>
            <hr
              v-scroll-reveal="{viewFactor:0.9,delay: 0, scale: 1, origin:'right', distance:'50px', duration: 1000}"
              class="_mgt-16px"
            />
          </div>
        </div>
      </div>
      <div
        v-for="(item, i) in _workHomepage"
        :key="i"
        class="_pst-rlt _w-100pct _mgt-12px _mgbt-64px _mgt-24px-sm _mgbt-128px-sm"
      >
        <HomeShowcase
          :right-image="(i + 1) % 2 === 0"
          :image="item.data.acf.image_on_homepage.url"
          :title="item.data.title.rendered"
          :subtitle="item.data.acf.long_title"
          :url="`works/${item.data.slug}`"
          :primary-color="item.data.acf.primary_color"
          :secondary-color="item.data.acf.secondary_color"
          :slug="item.data.slug"
        />
      </div>
    </div>-->
    <div id="partners" class="partners">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3
              v-scroll-reveal="{viewFactor:0.9,delay: 0, scale: 1, origin:'left', distance:'200px', duration: 1000}"
              class="_ttf-upc _dp-b _mgt-48px page-title"
            >OUR PARTNERS AND CLIENTS</h3>
            <hr
              v-scroll-reveal="{viewFactor:0.9,delay: 0, scale: 1, origin:'right', distance:'50px', duration: 1000}"
              class="_mgt-16px"
            />
          </div>
        </div>
        <div class="_dp-b _pdt-48px _pdbt-128px">
          <div
            v-scroll-reveal="{viewFactor:0.6,delay: 100, scale: 1, distance:'100px', duration: 1000}"
            class="row _pdv-12px _alit-ct _tal-ct"
          >
            <div class="col-md-6 col-12 _dp-f _jtfct-spar">
              <img
                src="~/assets/images/customers/bangkokhospital.jpg"
                class="_mgv-12px _h-48px img"
              />
              <img src="~/assets/images/customers/lg.jpg" class="_mgv-12px _h-64px img" />
            </div>
            <div class="col-md-6 col-12 _dp-f _jtfct-spar">
              <img src="~/assets/images/customers/amway.jpg" class="_mgv-12px _h-48px img" />
              <img src="~/assets/images/customers/taladthai.jpg" class="_mgv-12px _h-48px img" />
            </div>
          </div>
          <div
            v-scroll-reveal="{viewFactor:0.6,delay: 100, scale: 1, distance:'100px', duration: 1000}"
            class="row _pdv-12px _alit-ct _tal-ct"
          >
            <div class="col-md-6 col-12 _dp-f _jtfct-spar _alit-ct">
              <img src="~/assets/images/customers/lotte1.jpg" class="_mgv-12px _h-48px img" />
              <img src="~/assets/images/customers/artistry.jpg" class="_mgv-12px _h-24px img" />
            </div>
            <div class="col-md-6 col-12 _dp-f _jtfct-spar _alit-ct">
              <img src="~/assets/images/customers/nutrilife.jpg" class="_mgv-12px _h-64px img" />
              <img src="~/assets/images/customers/ptt.jpg" class="_mgv-12px _h-48px img" />
            </div>
          </div>
          <div
            v-scroll-reveal="{viewFactor:0.6,delay: 100, scale: 1, distance:'100px', duration: 1000}"
            class="row _pdv-12px _alit-ct _tal-ct"
          >
            <div class="col-md-6 col-12 _dp-f _jtfct-spar _alit-ct">
              <img src="~/assets/images/customers/sparrow.jpg" class="_mgv-12px _h-32px img" />
              <img src="~/assets/images/customers/fitne.jpg" class="_mgv-12px _h-64px img" />
            </div>
            <div class="col-md-6 col-12 _dp-f _jtfct-spar _alit-ct">
              <img src="~/assets/images/customers/lolane.jpg" class="_mgv-12px _h-64px img" />
              <img src="~/assets/images/customers/dentsux.jpg" class="_mgv-12px _h-24px img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HomeParticle from "~/components/HomeParticle";
import HomeTyper from "~/components/HomeTyper";
import MenuNav from "~/components/navigations/MenuNav";
import MyButton from "~/components/buttons/MyButton";
import spin from "~/components/decoration/spin";
import HomeShowcase from "~/components/products/HomeShowcase";
export default {
  layout: "homelayout",
  scrollToTop: true,
  // async asyncData({ store }) {
  //   const works = await store.dispatch("work/getAllWorks");
  //   return {
  //     works
  //   };
  // },
  head() {
    const siteTitle = this.$store.state.site.title;
    const siteDescription = this.$store.state.site.description;
    return {
      title: `${siteTitle}`,
      meta: [
        { hid: 'description', name: 'description', content: `${siteDescription}` },
        { hid: "og:title", property: "og:title", content: `${siteTitle}` },
        {
          hid: "og:description",
          property: "og:description",
          content: `${siteDescription}`
        }
      ]
    };
  },
  components: {
    HomeParticle,
    HomeTyper,
    MenuNav,
    MyButton,
    spin,
    HomeShowcase
  },
  // computed: {
  //   _workHomepage() {
  //     return this.works
  //       .map(a => {
  //         return {
  //           show_on_homepage: a.acf.show_on_homepage,
  //           data: a
  //         };
  //       })
  //       .filter(b => b.show_on_homepage);
  //   }
  // }
};
</script>
<style lang="scss" scoped>
@import "assets/styles/variables";

.img {
  filter: grayscale(100%);
  &:hover {
    filter: none;
    transition: 0.5s;
  }
}

#home-menu {
  margin-top: 20px;
  margin-right: 10px;
}
.downarrow {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
#welcome {
  .and {
    font-size: 105%;
    display: inline;
  }
}

.hairline {
  height: 1px;
  position: relative;
  width: 100%;
  background: #ff50a1;
  background-image: linear-gradient(90deg, #ff50a1 55%, #3c7fff 100%);
  position: relative;
  opacity: 0.25;
}
.hairline.top {
  top: 6px;
}
.hairline.bottom {
  bottom: 13px;
}
.tagline {
  text-transform: uppercase;
}
#intro {
  p {
    font-size: 20px;
  }
  .graphic {
    position: relative;
    width: 140%;
    left: 15%;
    top: 30px;
  }
}
.bg-project {
  height: 800px;
  background-repeat: no-repeat;
}

@media (max-width: 770px) {
  #home-menu {
    margin-top: 0;
    margin-right: 15px;
  }
  #welcome {
    img {
      max-width: 70px;
    }
    #flash {
      max-width: 60px;
    }
    #home-logo {
      position: relative;
      margin-top: 5px;
      border-top: 1px solid rgba(255, 23, 55, 0.1);
      border-bottom: 1px solid rgba(255, 23, 55, 0.1);
      &::after {
        content: " ";
        height: 1px;
        bottom: 0px;
        left: -200%;
        background: -moz-linear-gradient(
          left,
          rgba(255, 0, 216, 0) 0%,
          rgba(255, 0, 216, 0.02) 1%,
          rgba(255, 0, 97, 0.5) 50%,
          rgba(255, 0, 216, 0) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          left,
          rgba(255, 0, 216, 0) 0%,
          rgba(255, 0, 216, 0.02) 1%,
          rgba(255, 0, 97, 0.5) 50%,
          rgba(255, 0, 216, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to right,
          rgba(255, 0, 216, 0) 0%,
          rgba(255, 0, 216, 0.02) 1%,
          rgba(255, 0, 97, 0.5) 50%,
          rgba(255, 0, 216, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00d8', endColorstr='#00ff00d8',GradientType=1 ); /* IE6-9 */
        width: 500px;
        position: absolute;
        // -webkit-animation: linear infinite;
        // -webkit-animation-name: run;
        // -webkit-animation-duration: 4s;
        // -webkit-animation-delay: 2s;
      }
      &::before {
        content: " ";
        height: 1px;
        top: -1px;
        left: -200%;
        background: -moz-linear-gradient(
          left,
          rgba(255, 0, 216, 0) 0%,
          rgba(255, 0, 216, 0.02) 1%,
          rgba(167, 59, 100, 0.5) 50%,
          rgba(255, 0, 216, 0) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          left,
          rgba(255, 0, 216, 0) 0%,
          rgba(255, 0, 216, 0.02) 1%,
          rgba(255, 0, 97, 0.5) 50%,
          rgba(255, 0, 216, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to right,
          rgba(255, 0, 216, 0) 0%,
          rgba(255, 0, 216, 0.02) 1%,
          rgba(255, 0, 97, 0.5) 50%,
          rgba(255, 0, 216, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00d8', endColorstr='#00ff00d8',GradientType=1 ); /* IE6-9 */
        z-index: 1;
        width: 500px;
        position: absolute;
        // -webkit-animation: linear infinite;
        // -webkit-animation-name: run;
        // -webkit-animation-duration: 3s;
      }
      // @-webkit-keyframes run {
      //   0% {
      //     left: -200%;
      //   }
      //   99% {
      //     left: 200%;
      //   }
      //   100% {
      //     left: 200%;
      //   }
      // }
    }

    h1 {
      font-size: 2.3rem;
      color: #fff !important;
    }
    .tagline {
      // text-transform: none;

      font-size: 1.7rem;
    }
    .and {
      font-size: 95%;
    }
    h1 ._fs-4 {
      font-size: 1.2rem !important;
      color: #fff !important;
    }
    h2 {
      font-size: 1.2rem !important;
      color: #fff !important;
    }

    ._bt-red {
      // background: white;
      // color: #ffffff;
      // border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 0.4rem 1.25rem 0.4rem 1.25rem;
      margin-top: 10px;
      -webkit-box-shadow: 0 0 30px -5px rgba(30, 0, 0, 0.2);
    }
  }
  #intro {
    p,
    a {
      font-size: 14px;
    }

    .graphic {
      position: relative;
      width: 150%;
      left: 0%;
    }
  }
  .bg-project {
    &.right {
      right: 0;
    }
  }
}

#home-menu {
  .hover-underline-animation {
    text-shadow: 0px 0px 5px $red, 0px 0px 25px $red;
  }
  .hover-underline-animation:hover {
    text-shadow: 0px 0px 3px #ffffff, 0px 0px 1px #ffffff, 0px 0px 25px #ffffff;
  }
  .hover-underline-animation::after {
    height: 1px;
  }
}
</style>
