<template>
  <div class="_w-100pct">
    <div class="container">
      <div class="row _pst-rlt">
        <div class="col-12 _pst-asl">
          <div class="min-height-100vh grid-bg _w-100pct"/>
        </div>
      </div>
    </div>
    <div 
      id="services" 
      class="container">
      <div class="row">
        <div class="col-12 col-6-sm">
          <div class="bg _dp-f _fdrt-cl min-height-100vh _pdv-48px _jtfct-ct">
            <h1
              v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'left', distance:'100px', duration: 1000}"
              class="_ttf-upc page-title"
            >Services</h1>
            <hr class="_mgv-24px">
            <div>
              <div 
                v-for="(x, i) in serviceData" 
                :key="i" 
                class="_mgbt-24px service-data">
                <a
                  v-scroll-to="`#${x.slug}`"
                  v-scroll-reveal="{viewFactor:0.1, delay:200,scale: 1, origin:'bottom', distance:'100px', duration: 1000}"
                  href="#"
                  class="hover-underline-animation"
                >
                  <span v-html="x.name "/>
                </a>
              </div>
            </div>
            <hr class="_mgt-12px _mgbt-128px">
          </div>
          <div class="_w-100pct bg">
            <div
              v-for="(x, i) in serviceData"
              :key="i"
              :id="x.slug"
              class="_lh-175pct _pdt-48px min-height-100vh _dp-f _alit-l _alit-ct-sm _fdrt-cl _fdrt-r-sm"
            >
              <div
                v-lazy:background="x.coverImage"
                class="_h-64px _h-128px-sm _pd-24px _pd-64px-sm _mgv-24px _mgr-48px-sm _dp-f _alit-ct _bgrp-nrp"
              />

              <div class="_dp-f _fdrt-cl _jtfct-ct">
                <h3
                  v-scroll-reveal="{reset:true,delay: i*100, scale: 1, distance:'20px', duration: 1000}"
                  class="_mgbt-16px _ttf-upc _cl-black _fs-4"
                  v-html="x.name"
                />
                <p
                  v-scroll-reveal="{reset:true,delay: 200, scale: 1, distance:'20px', duration: 1000}"
                  v-html="x.description"
                />
              </div>

              <!-- <h3 
                v-scroll-reveal="{reset:true,delay: i*100, scale: 1,  distance:'20px',   duration: 1000}" 
                class="_mgbt-16px _ttf-upc _cl-black _fs-4" 
                v-html="`Case Studies`"/>
              <div 
                v-for="(item,i) in workData.filter(a => a.categories.indexOf(x.id) > -1)" 
                :key="i"
                class="row">
                <div 
                  v-if="item.image" 
                  class="col-12 col-md-4 ">
                  <div 
                    v-lazy:background="item.image.image" 
                    class="_h-256px _bgrp-nrp _bgs-ct _bgpst-t" />
                </div>
                <div class="col-12 col-md-8">
                  <h6>{{ item.title }}</h6>
                  <div v-html="item.excerpt"/>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  scrollToTop: true,

  async asyncData({ store }) {
    // Fetch all works
    const services = await store.dispatch("work/getAllServices");
    const works = await store.dispatch("work/getAllWorks");
    return {
      services,
      works
    };
  },
  head() {
    const siteTitle = this.$store.state.site.title;
    return {
      title: `Services | ${siteTitle}`,
      meta: [
        { hid: "og:title", property: "og:title", content: `Services | ${siteTitle}` },
        {
          hid: "og:description",
          property: "og:description",
          content: "Our services include E-Commerce, Website, Web App / Software Solution, Mobile Application, Digital Experiences, & Ongoing Support"
        }
      ]
    };
  },
  computed: {
    serviceData() {
      return this.services
        .map(a => {
          return {
            id: a.id,
            name: a.name,
            slug: a.slug,
            description: a.description,
            coverImage: a.acf.cover_image
          };
        })
        .filter(b => b.name != `Uncategorized`);
    },
    workData() {
      return this.works.map(a => {
        return {
          image: a.acf.featured_image[0],
          categories: a.categories,
          title: a.acf.long_title,
          excerpt: a.acf.excerpt
        };
      });
    }

    // _workHomepage() {
    //   return this.works.map(a => {
    //       return {
    //         show_on_homepage: a.acf.show_on_homepage,
    //         data: a
    //       }
    //     }).filter(b => b.show_on_homepage)
    // }
  }
};
</script>

<style lang="scss" scoped>
#services {
  .hover-underline-animation::after {
    height: 1px;
    background-image: none;
    background-color: grey;
  }
  h1 {
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;
  }
  .service-data a span {
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;
  }
}
@media (max-width: 770px) {
  #services {
    .service-data a span {
      font-size: 20px;
      color: #000000;
    }
  }
}
</style>