<template>
  <modal 
    :pivot-y="0.1"
    :adaptive="true" 
    :max-width="500" 
    name="thankyou" 
    modal 
    classes="modal-fixed" 
    width="100%" 
    height="auto" 
  >
    <div class="container">
      <div class="row _bgcl-white">
        <div class="col-12 _dp-f _fdrt-cl _alit-ct _pdv-48px">
          <h1 class="_mgbt-32px">Thank you !</h1>
          <span class="_mgbt-32px">We’ll get back to you within 24 hours.</span>
          <button 
            class="box-shadow _bdw-0px btn _bt-red _pdt-16px _pdbt-12px _cs-pt" 
            @click="$modal.hide('thankyou')"
          >
            <h6 class="_cp-book _ttf-upc _fs-6 _ltspc-1px _fw-300">Close</h6>
          </button>
        </div>
      </div>
    </div>
  </modal>
</template>