<template>
  <div class="container _mgv-32px _pdbt-32px">
    <img 
      src="~/assets/images/5lab.svg" 
      alt="5Lab" 
      class="_dp-b"> 
    <small class="_dp-b _mgbt-32px _ttf-upc _mgt-8px _ltspc-2px _cl-red">Call report</small>
    <h4 
      v-if="selectedBoard.password === '5LabTechnology'" 
      class="_cl-red">{{ selectedBoard.name }}</h4>
    <div 
      v-if="selectedBoard.password === '5LabTechnology'" 
      style="100%" 
      class="list-frame _mgt-12px">
      <ul class="list  _alit-str _w-100pct">
        <li 
          v-scroll-reveal="{ delay:i*20,origin:'left', distance:'30px'}" 
          v-for="(v, i) in selectedBoard.cards"
          :key="i" 
          class="_pd0-2px  _w-100pct">
          <div class="card _pd-16px  _w-100pct _pst-rlt">
            <label><input type="checkbox" class="_dp-n">
              <h5 
                v-if="v.name" 
                class="_cl-black _mgbt-4px inputText"> {{ v.name }}
              </h5>
              <p 
                v-if="v.desc !== '' && v.desc" 
                class="_mgt-12px _cl-black  _w-100pct _mgbt-8px inputText">{{ v.desc }}
              </p>
              <span 
                v-if="v.labels" 
                class="_mgt-12px _mgr-12px inputText">
                <span 
                  v-for="(l, i) in v.labels" 
                  :style="`background: ${l.color}`" 
                  :key="i"
                  class="_cl-white _pd-4px _pdt-8px _lh-100pct _fs-8 _bdrd-4px _bdw-0px _ttf-upc inputText inputLabel">{{ l.name }}
                </span>
              </span>
            </label>
          </div>
        </li>
      </ul>
    </div>
    
    <p 
      v-if="selectedBoard.password !== '5LabTechnology'" 
      class="_mgv-32px _ttf-upc _cl-red _ltspc-4px _fs-5"><small class="_dp-b _fs-8 _cl-neutral-500">{{ selectedBoard.password }} is<br></small> 
      The Wrong Password
    </p>
  </div>

</template>

<script>
export default {
  layout: "homelayout",
  async asyncData({ $axios, route, params, query }) {
      
    const board = await $axios.$get(
      `https://api.trello.com/1/boards/${params.id}/lists?cards=all&card_fields=all&filter=all&fields=all&key=c3c38410d9e19e15b4f32fec33c48929&token=a892fcf60136928783c2ecdbe3d87f4649d20c14b7c62783779b2d80abe8ae01`
    );
    const list = await route.query.row - 1;
    let selectedBoard = await "";
    if(list >= 2){
      selectedBoard = await board[list];
    }else{
      selectedBoard = await board[2];
    }
    selectedBoard.password = await route.query.password;
    return { selectedBoard };
  },
  head() {
    return {
      title: `5Lab Call Report`,
    };
  },
};
</script>
<style lang="scss" scoped>
@import 'assets/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,700&subset=thai');
.container {
  max-width:800px;
}
h5{
    font-family: 'Sarabun', sans-serif;
    font-weight: 700 !important;
    line-height: 150%;
    font-size:20px;
    @media(max-width:800px){
      font-size:16px;
    }
  }
p {
    font-size:16px;
    @media(max-width:800px){
      font-size:16px;
    }
    font-family: 'Sarabun', sans-serif;
    font-weight: 500 !important;
  }
.list-frame{
  border:3px solid $red;
  border-radius:10px;
}
.list {
  line-height: 150%;
  letter-spacing:0.05em;
  & .card {
    border-bottom: 1px solid rgba($red,0.3);
    transition:all 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
    & .inputText {
      transition:all 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
    }
    & .inputText:hover {
      cursor: pointer;
    }
    & input:checked ~ .inputText  {
      opacity:0.25;
      font-size:10px !important;
      margin:0 !important;
      padding:0 !important;
    }
    &:hover{
    background:rgba($red,0.2);
    }
  }
  & :last-child{
    & .card {
      border:none !important;
    }
  }
}
</style>