<template>
  <no-ssr>
    <div class="_dp-f _fdrt-cl _alit-l">
      <!-- ชื่อ -->
      <div>
        <form @submit.stop.prevent="submit">
          <float-label
            v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'bottom', distance:'30px', duration: 1000}"
          >
            <div class="_pst-rlt">
              <input
                v-validate="{required: true}"
                ref="name"
                v-model="name"
                name="name"
                type="text"
                placeholder="Name"
              />
              <i
                class="fal fa-address-card _w-16px _pst-asl _h-100pct _zid-0 _dp-f _alit-ct _mgt-4px _ptev-n _t-1px _l-0px _cl-red"
              />
            </div>
            <small v-show="errors.has('name')" class="_cl-negative _fs-7">Please input your name</small>
          </float-label>

          <!-- <div class="_dp-f _alit-ct _jtfct-spbtw"> -->
          <float-label
            v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'bottom', distance:'30px', duration: 1000}"
          >
            <div class="_pst-rlt">
              <input
                v-validate="{required: true, email: true}"
                ref="email"
                v-model="email"
                name="email"
                type="email"
                placeholder="Email"
              />
              <i
                class="fal fa-envelope _w-16px _pst-asl _h-100pct _zid-0 _dp-f _alit-ct _mgt-4px _ptev-n _t-1px _l-0px _cl-red"
              />
            </div>
            <small v-show="errors.has('email')" class="_cl-negative _fs-7">Please input your email</small>
          </float-label>

          <!-- </div> -->
          <float-label
            v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'bottom', distance:'30px', duration: 1000}"
            :dispatch="false"
            label="What can we help?"
          >
            <div class="_pst-rlt">
              <select v-validate="{required: true}" ref="type" v-model="type" name="type">
                <option disabled value>What can we help?</option>
                <option value="E-commerce">E-commerce</option>
                <option value="Website">Website</option>
                <option value="Software Development">Software Development</option>
                <option value="Mobile App">Mobile App</option>
                <option value="UX/UI Design">UX/UI Design</option>
                <option value="Other Digital Experiences">Other Digital Experiences</option>
                <option value="SEO/SEM">SEO/SEM</option>
                <option value="Branding / Corporate Identity">Branding / Corporate Identity</option>
                <option value="General Inquiry">General Inquiry</option>
                <option value="Apply for a job">Apply for a job</option>
              </select>
              <i
                class="fal fa-question-circle _w-16px _pst-asl _h-100pct _zid-0 _dp-f _alit-ct _mgt-4px _ptev-n _t-1px _l-0px _cl-red"
              />
            </div>
            <small
              v-show="errors.has('type')"
              class="_cl-negative _fs-7"
            >Please select what can we help?</small>
          </float-label>
          <float-label
            v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'bottom', distance:'30px', duration: 1000}"
          >
            <input
              ref="description"
              v-model="description"
              name="description"
              type="text"
              placeholder="Project description  ( optional )"
            />
            <i
              class="fal fa-pen-square _w-16px _pst-asl _h-100pct _zid-0 _dp-f _alit-ct _mgt-4px _ptev-n _t-1px _l-0px _cl-red"
            />
          </float-label>
          <div
            v-scroll-reveal="{ delay:100,reset:true,scale: 1, origin:'bottom', distance:'30px', duration: 1000}"
            class="_pdt-12px"
          >
            <button
              :class="{'-loading -disabled': isBtnLoading}"
              :disabled="isBtnLoading"
              type="submit"
              class="_w-100pct _ttf-upc btn _bt-red _bdw-0px _pdt-16px _pdbt-12px _mgt-12px _dp-f _jtfct-spbtw _alit-ct"
            >
              <h4 class="_fs-6" v-html="isBtnLoading ? 'Sending' : 'Send Request'" />
              <i
                :class="isBtnLoading ? 'fas fa-sync fa-spin' : 'fa-paper-plane'"
                class="fal _mgbt-4px"
              />
            </button>
          </div>
        </form>
      </div>
      <ModalThankyou />
    </div>
  </no-ssr>
  <!-- Thank you  Modal -->
</template>

<script>
import ModalThankyou from "~/components/modals/Thankyou";
export default {
  components: {
    ModalThankyou
  },
  data: () => ({
    isBtnLoading: false,
    name: "",
    email: "",
    type: "",
    description: ""
  }),
  methods: {
    async submit() {
      this.isBtnLoading = true;
      this.errorMsg = "";
      const isValid = await this.$validator.validateAll();

      // this.contactForm()
      if (isValid) {
        let html =
          "<div>Name: " +
          this.name +
          "</div><div>Email: " +
          this.email +
          "</div><div>What can we help: " +
          this.type +
          "</div><div>Project description: " +
          this.description +
          "</div>";

        const result = await this.$axios.$post(
          "https://us-central1-lab-official-website.cloudfunctions.net/sendmail/",
          {
            email: "hello@5lab.co",
            html: html
          }
        );

        // const res = await this.$store.dispatch('site/sendEmail', {
        //   name: this.name,
        //   email: this.email,
        //   type: this.type,
        //   description: this.description
        // })

        if (result == "OK") {
          (this.name = ""),
            (this.email = ""),
            (this.type = ""),
            (this.description = "");
          this.$validator.reset();
          this.isBtnLoading = false
          return this.$modal.show("thankyou");
        }
        // return false
      } else {
        this.setFocus();
      }
      return (this.isBtnLoading = false);
    },
    setFocus() {
      if (this.name == "") {
        this.$refs.name.focus();
      } else if (this.email == "") {
        this.$refs.email.focus();
      } else if (this.type == "") {
        this.$refs.type.focus();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
._bt-red {
  border: 1px solid rgba(255, 0, 0, 0) !important;
  transition: all 0.2s ease-in-out;
}
._bt-red:hover {
  border: 1px solid rgba(255, 0, 0, 1) !important;
  cursor: pointer !important;
  background-image: linear-gradient(
    -95deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 1) 91%
  );
  color: red;
}
.select {
  border-radius: 0px;
}
</style>
